all.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2140,
        560
      ],
      "id": "2ca501fd-8cec-4384-8b19-1e9d7135fa69",
      "name": "Webhook",
      "webhookId": "f5deb7e0-2d86-4877-8577-d441938168b4"
    },
    {
      "parameters": {
        "command": "rm -f /tmp/upload* 2>/dev/null; echo 'limpeza ok'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1920,
        560
      ],
      "id": "67c55d4d-a061-49f6-bb97-eb79fda72d62",
      "name": "Limpar Temp"
    },
    {
      "parameters": {
        "jsCode": "// FIX: Execute Command descarta o binário do Webhook.\n// Recupera o binário original para o próximo nó poder salvar o arquivo.\nconst webhookItem = $('Webhook').first();\nreturn [{\n  json: webhookItem.json,\n  binary: webhookItem.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1700,
        560
      ],
      "id": "088a8c81-0975-4082-8901-66418aa0a175",
      "name": "Restaurar Binário"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18c96931-712a-4d38-af50-9e43741ca773",
              "leftValue": "={{$binary.data0.fileExtension}}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1220,
        560
      ],
      "id": "a5030451-d12c-4c7a-9255-3d0c2b258735",
      "name": "É PDF?"
    },
    {
      "parameters": {
        "command": "=python3 -c \"\nfrom pdf2image import convert_from_path\nimport pytesseract\nimport json\nimport sys\n\narquivo = '/tmp/upload.pdf'\ntexto = ''\n\ntry:\n    paginas = convert_from_path(arquivo, dpi=300)\n    for pagina in paginas:\n        pagina = pagina.convert('L')\n        texto_pagina = pytesseract.image_to_string(\n            pagina,\n            lang='por',\n            config='--oem 3 --psm 4'\n        )\n        texto += texto_pagina + '\\\\n'\n    print(json.dumps({'texto': texto}, ensure_ascii=False))\nexcept Exception as e:\n    print(json.dumps({'erro': str(e)}, ensure_ascii=False))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1000,
        440
      ],
      "id": "0ab1c83d-e481-4156-b3f6-0feda95e9dec",
      "name": "OCR PDF"
    },
    {
      "parameters": {
        "command": "=python3 -c \"\nimport os\nimport json\nimport sys\nfrom PIL import Image\nimport pytesseract\n\nextensao = '{{$binary.data0.fileExtension}}'\narquivo = f'/tmp/upload.{extensao}'\n\nif not os.path.exists(arquivo):\n    print(json.dumps({'erro': 'arquivo nao encontrado: ' + arquivo}))\n    sys.exit(1)\n\ntry:\n    img = Image.open(arquivo).convert('L')\n    img = img.point(lambda x: 0 if x < 160 else 255, '1')\n\n    texto = pytesseract.image_to_string(img, lang='por', config='--oem 3 --psm 4')\n\n    if len(texto.strip()) < 50:\n        img2 = Image.open(arquivo).convert('L')\n        texto = pytesseract.image_to_string(img2, lang='por', config='--oem 3 --psm 6')\n\n    print(json.dumps({'texto': texto}, ensure_ascii=False))\nexcept Exception as e:\n    print(json.dumps({'erro': str(e)}, ensure_ascii=False))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1000,
        680
      ],
      "id": "e6d714aa-622c-4e99-8c8d-daae606ae05a",
      "name": "OCR Imagem"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout;\n\nif (!raw) {\n  throw new Error('Nenhum stdout recebido do OCR');\n}\n\nconst data = JSON.parse(raw);\n\nif (data.erro) {\n  throw new Error('Erro no OCR: ' + data.erro);\n}\n\nreturn [{ json: { texto: data.texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        560
      ],
      "id": "6193cecc-ab84-4b57-adcb-7e3ad30341ca",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "jsCode": "let texto = $json.texto || '';\n\n// Junta palavras quebradas no fim da linha com hífen\ntexto = texto.replace(/-\\n/g, '');\n\n// Remove quebras de linha duplicadas\ntexto = texto.replace(/\\n{2,}/g, '\\n');\n\n// Remove espaços e tabs duplicados\ntexto = texto.replace(/[ \\t]+/g, ' ');\n\n// Remove linhas com apenas lixo (menos de 3 chars não-alfanuméricos)\ntexto = texto.replace(/\\n[^\\wÀ-ÿ]{1,3}\\n/g, '\\n');\n\n// Trim geral\ntexto = texto.trim();\n\nreturn [{ json: { texto_limpo: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        560
      ],
      "id": "3d073917-b360-431a-8f43-4bfb6a109d9a",
      "name": "Limpar Texto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "campos-ok-check",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "aprovado\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        560
      ],
      "id": "1307e711-d1b7-48d4-8122-b49bec27a516",
      "name": "Dados Completos?"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "inputType": "base64",
        "binaryPropertyName": "={{$binary.data0.fileExtension}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        600,
        720
      ],
      "id": "3fcf2efe-0435-473c-8ea4-c219c18a360f",
      "name": "OpenAI Fix T1",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Validar Campos Iniciais').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 1;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        960
      ],
      "id": "6ddbe81e-c9cd-4efc-91d6-bd37a0d9442f",
      "name": "Parse Validar T1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t1-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        720
      ],
      "id": "f7048528-ec22-4b0a-8a5a-33acbeb8d28a",
      "name": "T1 OK?"
    },
    {
      "parameters": {
        "jsCode": "var dados = $json.dados_extraidos || {};\nvar logs = ($json.logs || []).slice();\nvar ts = new Date().toISOString();\nvar sq = String.fromCharCode(39);\nvar escape = function(v) { return String(v).split(sq).join(sq + sq); };\n\nvar campos = [];\nvar valores = [];\n\nif (dados.nome_completo) { campos.push('nome_completo'); valores.push(sq + escape(dados.nome_completo) + sq); }\nif (dados.cargo_pretendido) { campos.push('cargo_pretendido'); valores.push(sq + escape(dados.cargo_pretendido) + sq); }\nif (dados.habilidades) { campos.push('habilidades'); valores.push(sq + escape(dados.habilidades) + sq); }\nif (dados.experiencia_resumida) { campos.push('experiencia_resumida'); valores.push(sq + escape(dados.experiencia_resumida) + sq); }\nif (dados.email) { campos.push('email'); valores.push(sq + escape(dados.email) + sq); }\nif (dados.telefone) { campos.push('telefone'); valores.push(sq + escape(dados.telefone) + sq); }\nif (dados.localizacao) { campos.push('localizacao'); valores.push(sq + escape(dados.localizacao) + sq); }\n\nvar sql = 'INSERT INTO candidatos (' + campos.join(', ') + ') VALUES (' + valores.join(', ') + ');';\n\nlogs.push('[' + ts + '][SUCESSO] INSERT SQL montado via IA com ' + campos.length + ' campos (tentativa ' + ($json.tentativa || '?') + ')');\n\nreturn [{ json: {\n  sql_insert: sql,\n  dados_extraidos: dados,\n  logs: logs,\n  tentativa: $json.tentativa || 0,\n  status: 'pronto_para_salvar'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        560
      ],
      "id": "3d3caaeb-7e2e-4be4-8f4b-a17cbf3595ed",
      "name": "Montar INSERT SQL IA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_insert }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1920,
        560
      ],
      "id": "e03cfdaa-8e85-47d8-b665-2cdd64560036",
      "name": "Salvar no Banco IA",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var logs = ($json.logs || []).slice();\nvar ts = new Date().toISOString();\nlogs.push('[' + ts + '][SUCESSO] Candidato salvo no banco de dados via IA (tentativa ' + ($json.tentativa || '?') + ')');\nreturn [{ json: {\n  status: 'sucesso',\n  metodo: 'ia',\n  tentativa: $json.tentativa || 0,\n  mensagem: 'Candidato processado pela IA e salvo com sucesso',\n  log_completo: logs.join('\\n'),\n  timestamp: ts\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        560
      ],
      "id": "ba3302be-ca98-4367-aa13-06617581f8eb",
      "name": "Resposta Sucesso IA"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1260,
        720
      ],
      "id": "c12800bf-4c9d-4ea1-aeb5-51a3aaa710fb",
      "name": "Wait 5s",
      "webhookId": "aa000010-0000-4000-a000-000000000010"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1480,
        720
      ],
      "id": "8e158921-53d7-4d32-8b0a-0a4e8d08b890",
      "name": "OpenAI Fix T2",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 5s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 2;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1160
      ],
      "id": "9ec6ea66-ddd3-4796-bc49-aacd2b3be75f",
      "name": "Parse Validar T2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t2-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        720
      ],
      "id": "521ca50f-fa41-4638-9682-e9e0f580945d",
      "name": "T2 OK?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2140,
        720
      ],
      "id": "32c5e509-3372-4b64-b1ec-a1a71715a558",
      "name": "Wait 15s",
      "webhookId": "aa000014-0000-4000-a000-000000000014"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2360,
        720
      ],
      "id": "356095dd-72e4-4182-816c-ff8b63e4f9ab",
      "name": "OpenAI Fix T3",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 15s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 3;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        1020
      ],
      "id": "7c2fc647-7bfd-4593-a24a-fb2390510186",
      "name": "Parse Validar T3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t3-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        720
      ],
      "id": "7f41d43b-14c1-4b82-82f6-109ede0a467c",
      "name": "T3 OK?"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3020,
        720
      ],
      "id": "54370c9e-cb74-4059-a6e4-335d2ab2c80b",
      "name": "Wait 30s",
      "webhookId": "aa000018-0000-4000-a000-000000000018"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3240,
        720
      ],
      "id": "04459465-7a91-43f7-962a-0325fa393661",
      "name": "OpenAI Fix T4 Final",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 30s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 4;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3480,
        1060
      ],
      "id": "392f1a40-3d6d-4765-be07-af8a401e31f5",
      "name": "Parse Validar T4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t4-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3680,
        720
      ],
      "id": "c0d3290b-4d68-4f5c-8b2c-ecb44d198d35",
      "name": "T4 OK?"
    },
    {
      "parameters": {
        "jsCode": "var logs = ($json.logs || []).slice();\nvar tentativa = $json.tentativa || $json.retry_count || 0;\nvar textoLimpo = $json.texto_limpo || '';\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][ERRO FINAL] Todas as ' + tentativa + ' tentativas de extracao via IA falharam');\nlogs.push('[' + ts + '][ERRO FINAL] Campos obrigatorios (nome e/ou telefone) nao puderam ser extraidos');\nlogs.push('[' + ts + '][ERRO FINAL] Arquivo encaminhado para fila de revisao manual');\n\nvar motivo = 'Extracao falhou apos ' + tentativa + ' tentativas: campos obrigatorios ausentes (nome e/ou telefone)';\n\nreturn [{ json: {\n  status: 'revisao_manual',\n  motivo_erro: motivo,\n  tentativas_realizadas: tentativa,\n  texto_trecho: textoLimpo.substring(0, 1000),\n  log_completo: logs.join('\\n'),\n  timestamp: ts\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        720
      ],
      "id": "46c08f46-0e02-471b-8a12-d1d03babe136",
      "name": "Log Erro Final"
    },
    {
      "parameters": {
        "jsCode": "var sq = String.fromCharCode(39);\nvar escape = function(v) { return String(v).split(sq).join(sq + sq); };\n\nvar texto = escape(($json.texto_trecho || '').substring(0, 1000));\nvar motivo = escape($json.motivo_erro || 'Erro desconhecido');\nvar logTxt = escape(($json.log_completo || '').substring(0, 5000));\nvar tentativas = parseInt($json.tentativas_realizadas || 0);\n\nvar sql = 'INSERT INTO revisao_manual (texto_trecho, motivo_erro, log_completo, tentativas_realizadas, criado_em) VALUES (' + sq + texto + sq + ', ' + sq + motivo + sq + ', ' + sq + logTxt + sq + ', ' + tentativas + ', NOW());';\n\nreturn [{ json: {\n  sql_revisao: sql,\n  motivo_erro: $json.motivo_erro,\n  log_completo: $json.log_completo,\n  tentativas: tentativas\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4120,
        720
      ],
      "id": "10fabb76-f6fe-4cd0-af93-11ea7f9146ea",
      "name": "Preparar SQL Revisao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_revisao }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4340,
        720
      ],
      "id": "66653464-315a-4e65-9a64-f3187a33818d",
      "name": "Salvar Revisao Manual",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  status: 'erro',\n  mensagem: $json.motivo_erro || 'Falha no processamento',\n  tentativas_realizadas: $json.tentativas,\n  log_completo: $json.log_completo,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        720
      ],
      "id": "24182ec3-2ff6-43a3-8aab-b8fb8c565e99",
      "name": "Resposta Erro Final"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um validador de currículos.\n\nAnalise o texto abaixo e verifique se ele contém:\n\n1. Nome completo da pessoa (nome e sobrenome identificáveis).\n2. Telefone de contato válido (aceite formatos nacionais e internacionais, com ou sem DDD, parênteses, espaços, hífens ou código do país).\n\nTexto do currículo:\n{{ $json.texto_limpo }}\n\nRegras de validação:\n- Considere aprovado somente se os dois itens estiverem presentes.\n- Se houver apenas nome ou apenas telefone, considere reprovado.\n- Se houver dúvida sobre a existência de um nome completo, considere reprovado.\n- Ignore e-mails, endereços, links e outras informações que não sejam nome e telefone.\n\nRetorne exclusivamente um JSON válido, sem explicações, comentários ou texto adicional:\n\nSe aprovado:\n{\"aprovado\": true}\n\nSe reprovado:\n{\"aprovado\": false}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        40,
        560
      ],
      "id": "3647d45e-fc8a-48f5-ae89-f335cc2288f1",
      "name": "Verificação de dados",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Recupera as palavras buscadas do nó anterior\nconst palavras = $('Montar SQL1').first().json.palavras;\n\n// Faz o parse do resultado do banco\nlet candidatos = $json.candidatos;\nif (typeof candidatos === 'string') {\n  try { candidatos = JSON.parse(candidatos); } catch(e) { candidatos = []; }\n}\nif (!Array.isArray(candidatos)) { candidatos = []; }\n\n// Retorno direto: encontrou ou não\nif (candidatos.length === 0) {\n  return [{ json: {\n    total: 0,\n    palavras_buscadas: palavras,\n    candidatos: [],\n    mensagem: 'Nenhum candidato encontrado para as palavras-chave informadas.'\n  }}];\n}\n\nreturn [{ json: {\n  total: candidatos.length,\n  palavras_buscadas: palavras,\n  candidatos\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1540,
        -1280
      ],
      "id": "0bca8fb0-3dd2-414c-83b8-af6d931a2681",
      "name": "Montar Resposta"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buscar",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2200,
        -1280
      ],
      "id": "a598f34a-6bd5-49e3-8dd8-d19c9221867b",
      "name": "Webhook Buscar1",
      "webhookId": "96a37c55-8154-4bac-b0b5-f4534ced1819"
    },
    {
      "parameters": {
        "jsCode": "// Payload esperado:\n// { \"palavras\": [\"Desenvolvimento\", \"Software\"], \"limite\": 10 }\n\nconst body = $json.body || $json;\n\n// Aceita tanto array (novo) quanto string separada por vírgula (compatibilidade)\nlet palavras = body.palavras || [];\nif (typeof palavras === 'string') {\n  palavras = palavras.split(',').map(p => p.trim()).filter(Boolean);\n}\n\nconst limite = Math.min(parseInt(body.limite) || 10, 50);\n\nconst esc = s => (s || '').replace(/'/g, \"''\");\n\n// Busca full-text: cada palavra é procurada em TODOS os campos relevantes\nconst conditions = palavras.map(p => {\n  const v = esc(p);\n  return `(\n    nome_completo    ILIKE '%${v}%' OR\n    cargo_pretendido ILIKE '%${v}%' OR\n    habilidades      ILIKE '%${v}%' OR\n    localizacao      ILIKE '%${v}%' OR\n    texto_curriculo  ILIKE '%${v}%'\n  )`;\n});\n\n// AND entre palavras (todas devem aparecer), OR entre campos\nconst where = conditions.length ? `WHERE ${conditions.join(' AND ')}` : '';\n\nconst sql = `\n  SELECT COALESCE(json_agg(row_to_json(c)), '[]'::json) AS candidatos\n  FROM (\n    SELECT\n      telefone,\n      nome_completo,\n      cargo_pretendido,\n      habilidades,\n      localizacao,\n      nome_arquivo,\n      LEFT(texto_curriculo, 300) AS experiencia_resumida,\n      criado_em\n    FROM candidatos\n    ${where}\n    LIMIT ${limite}\n  ) c\n`;\n\nreturn [{ json: { sql, palavras, limite } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1980,
        -1280
      ],
      "id": "ebbfc7f5-e96b-4c48-809f-edf40eb44298",
      "name": "Montar SQL1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1760,
        -1280
      ],
      "id": "9d1796ca-76f4-4b36-9763-2fc501c62af4",
      "name": "Buscar no Banco1",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/upload.{{$binary.data0.fileExtension}}",
        "dataPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1480,
        560
      ],
      "id": "2b19b1a0-f76d-4f54-a09f-4f587f035cde",
      "name": "Salvar Arquivo1"
    },
    {
      "parameters": {
        "jsCode": "// Verifica se a resposta da IA é válida\nconst content =\n  $json.content ||\n  ($json.message && $json.message.content) ||\n  ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ||\n  null;\n\n// Recupera contexto do nó Preparar Chat\nconst ctx = $('Preparar Chat1').first().json;\n\nif (!content) {\n  // Sem conteúdo válido — trata como erro\n  return [{\n    json: {\n      erro: true,\n      mensagem: ctx.mensagem,\n      candidatosStr: ctx.candidatosStr,\n      historicoFormatado: ctx.historicoFormatado,\n      tentativa: ctx.tentativa,\n      maxTentativas: ctx.maxTentativas\n    }\n  }];\n}\n\n// Sucesso — monta resposta final\nconst historicoAtualizado = [\n  ...ctx.historicoFormatado,\n  { role: 'user', content: ctx.mensagem },\n  { role: 'assistant', content: content }\n];\n\nreturn [{ json: {\n  erro: false,\n  resposta: content,\n  historico: historicoAtualizado\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -1060
      ],
      "id": "e61f6e58-cb3d-43ca-b2e4-e46e3ff77887",
      "name": "Verificar Resposta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-erro",
              "leftValue": "={{ $json.erro }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1160,
        -1060
      ],
      "id": "51cda21c-894a-4f5e-be6b-abfdde934987",
      "name": "Tem Erro?"
    },
    {
      "parameters": {
        "jsCode": "// Verifica se ainda há tentativas disponíveis\nconst tentativa = $json.tentativa || 1;\nconst maxTentativas = $json.maxTentativas || 3;\n\nif (tentativa >= maxTentativas) {\n  // Esgotou todas as tentativas\n  return [{ json: {\n    podetentar: false,\n    tentativa,\n    maxTentativas,\n    mensagem: $json.mensagem,\n    candidatosStr: $json.candidatosStr,\n    historicoFormatado: $json.historicoFormatado\n  }}];\n}\n\n// Ainda pode tentar: aguarda 5 segundos\nawait new Promise(resolve => setTimeout(resolve, 5000));\n\n// Incrementa tentativa e repassa o contexto\nreturn [{ json: {\n  podetentar: true,\n  tentativa: tentativa + 1,\n  maxTentativas,\n  mensagem: $json.mensagem,\n  candidatosStr: $json.candidatosStr,\n  historicoFormatado: $json.historicoFormatado\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        -1180
      ],
      "id": "8e84176b-b56d-4ff5-9c58-c36af51a3f33",
      "name": "Aguardar e Retry"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-pode",
              "leftValue": "={{ $json.podetentar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        -1180
      ],
      "id": "2118ab0c-b505-4331-a5d7-ac676b8801c6",
      "name": "Pode Tentar?"
    },
    {
      "parameters": {
        "jsCode": "// Todas as tentativas falharam — retorna erro amigável\nreturn [{ json: {\n  resposta: null,\n  erro: true,\n  mensagem: 'Não foi possível obter resposta da IA após 3 tentativas. Tente novamente em instantes.',\n  historico: $json.historicoFormatado || []\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        -1040
      ],
      "id": "384464bf-fa45-462a-bebb-cadca6ee523b",
      "name": "Erro Final"
    },
    {
      "parameters": {
        "jsCode": "// Resposta de sucesso — limpa campos internos e retorna apenas o necessário\nreturn [{ json: {\n  resposta: $json.resposta,\n  historico: $json.historico\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        -900
      ],
      "id": "f06b7b91-619b-47a2-9024-513f11b6afb4",
      "name": "Resposta OK"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2200,
        -1060
      ],
      "id": "dd9de5c0-800f-434a-a99d-8c4cab9ca8cb",
      "name": "Webhook Chat1",
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst mensagem = (body.mensagem || '').trim();\nconst candidatos = Array.isArray(body.candidatos) ? body.candidatos : [];\nconst historico = Array.isArray(body.historico) ? body.historico : [];\n\nif (!mensagem) {\n  throw new Error('Campo \"mensagem\" é obrigatório.');\n}\n\nconst candidatosStr = candidatos.length\n  ? candidatos.map((c, i) =>\n      `[Candidato ${i + 1}]\\n` +\n      `  Nome: ${c.nome_completo || 'N/A'}\\n` +\n      `  Telefone: ${c.telefone || 'N/A'}\\n` +\n      `  Cargo pretendido: ${c.cargo_pretendido || 'N/A'}\\n` +\n      `  Habilidades: ${c.habilidades || 'N/A'}\\n` +\n      `  Localização: ${c.localizacao || 'N/A'}\\n` +\n      `  Resumo: ${(c.experiencia_resumida || '').substring(0, 300)}`\n    ).join('\\n\\n')\n  : 'Nenhum candidato fornecido.';\n\nconst historicoFormatado = historico\n  .filter(h => h.role && h.content)\n  .map(h => ({ role: h.role, content: String(h.content) }));\n\n// Inicializa contador de tentativas\nreturn [{ json: {\n  mensagem,\n  candidatosStr,\n  historicoFormatado,\n  totalCandidatos: candidatos.length,\n  tentativa: 1,\n  maxTentativas: 3\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1980,
        -1060
      ],
      "id": "fa5d47e3-b370-4b80-be87-1c865a294713",
      "name": "Preparar Chat1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especialista em recrutamento e seleção de talentos.\n\nVocê tem acesso aos seguintes candidatos que foram pré-selecionados:\n\n{{ $json.candidatosStr }}\n\nSua função é responder perguntas sobre esses candidatos de forma clara e objetiva.\nPode comparar candidatos, destacar habilidades, recomendar o mais adequado para uma vaga, apontar pontos fortes e fracos.\nResponda sempre em português, de forma profissional e direta.\nSe não houver candidatos, informe educadamente.",
              "role": "system"
            },
            {
              "content": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1740,
        -920
      ],
      "id": "47b86c70-bc2e-4104-bd56-8cb7d54da8a5",
      "name": "GPT Chat1",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json || !items[0].json.telefone) {\n  return [{ json: { existe: false, telefone: $('Extrair Telefone1').item.json.telefone } }];\n}\n\nconst telefoneFormatado = items[0].json.telefone;\n\nreturn [{ json: { existe: true, telefone: telefoneFormatado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "id": "0b4c215f-ea8c-4e6f-98f3-ae42de183ae5",
      "name": "Tratar Resultado Busca"
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Limpar Texto').item.json.texto_limpo || '';\n\nconst regex = /(\\(?\\d{2}\\)?)\\s?[9]?\\d{4}[-\\s]?\\d{4}/g;\nconst matches = texto.match(regex);\n\nif (!matches || matches.length === 0) {\n  throw new Error('Nenhum telefone encontrado no currículo.');\n}\n\nconst telefone = matches[0].replace(/\\D/g, '');\n\nreturn [{ json: { telefone, texto_limpo: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        400
      ],
      "id": "407e8769-bd80-429e-bd55-264aa172b9a9",
      "name": "Extrair Telefone1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT telefone FROM candidatos WHERE REGEXP_REPLACE(telefone, '[^0-9]', '', 'g') = '{{ $json.telefone }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        300
      ],
      "id": "08a9ea99-51e9-48f6-a522-37310c6ef288",
      "name": "Buscar no Banco2",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "registro-existe",
              "leftValue": "={{ $json.existe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        300
      ],
      "id": "80862fa0-0d76-4657-8ee8-0dccde368dc3",
      "name": "Já Existe?1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especializado em extrair dados estruturados de currículos e gerar comandos SQL.\n\nTexto do currículo:\n{{ $('Limpar Texto').item.json.texto_limpo }}\n\nTelefone (chave primária já existente, use exatamente este valor no WHERE): {{ $('Tratar Resultado Busca').item.json.telefone }}\n\nGere um comando SQL UPDATE para a tabela \"candidatos\" com as seguintes regras:\n\n1. Mapeie os campos encontrados no texto:\n   - Nome completo → nome_completo\n   - Cargo pretendido / área de atuação → cargo_pretendido\n   - Habilidades / tecnologias / ferramentas → habilidades\n   - Cidade / estado → localizacao\n   - E-mail → email\n   - Nome do arquivo → nome_arquivo\n   - Texto completo → texto_curriculo\n\n2. Inclua APENAS os campos que estiverem presentes no texto\n3. Escape aspas simples duplicando-as (ex: O'Brien → O''Brien)\n4. Use o telefone fornecido no WHERE sem modificações\n5. Retorne SOMENTE o comando SQL, sem explicações, sem blocos de código markdown\n\nFormato esperado:\nUPDATE candidatos SET campo1 = 'valor1', campo2 = 'valor2' WHERE telefone = 'numero';"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1420,
        200
      ],
      "id": "70bfe17b-7753-4933-bd93-63f13a388659",
      "name": "Gerar UPDATE SQL1",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especializado em extrair dados estruturados de currículos e gerar comandos SQL.\n\nTexto do currículo:\n{{ $('Limpar Texto').item.json.texto_limpo }}\n\nGere um comando SQL INSERT para a tabela \"candidatos\" com as seguintes regras:\n\n1. Mapeie os campos encontrados no texto:\n   - Nome completo → nome_completo\n   - Cargo pretendido / área de atuação → cargo_pretendido\n   - Habilidades / tecnologias / ferramentas → habilidades\n   - Resumo de experiências → texto_curriculo\n   - E-mail → email\n   - Telefone → telefone\n   - Cidade / estado → localizacao\n\n2. Inclua APENAS os campos que estiverem presentes no texto\n3. Escape aspas simples duplicando-as (ex: O'Brien → O''Brien)\n4. Retorne SOMENTE o comando SQL, sem explicações, sem blocos de código markdown\n\n5. Estrutura da tabela:\ntelefone VARCHAR(50) PRIMARY KEY,\nnome_completo VARCHAR(255) NOT NULL,\ncargo_pretendido VARCHAR(255),\nhabilidades TEXT,\nlocalizacao VARCHAR(255),\nemail VARCHAR(255),\nnome_arquivo VARCHAR(255),\ntexto_curriculo TEXT\n\nFormato esperado:\nINSERT INTO candidatos (campo1, campo2, campo3)\nVALUES ('valor1', 'valor2', 'valor3');"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1420,
        380
      ],
      "id": "31a38577-f1a3-4a93-8ab5-8355503ba54c",
      "name": "Gerar INSERT SQL",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content =\n  $json.content ||\n  $json.message?.content ||\n  $json.choices?.[0]?.message?.content ||\n  $json.text ||\n  '';\n\nif (!content) {\n  throw new Error(\n    'Não foi possível extrair o SQL da resposta da IA.\\nJSON recebido: ' +\n    JSON.stringify($json, null, 2)\n  );\n}\n\nlet sql = content.trim();\nsql = sql.replace(/```sql\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nconst upperSql = sql.toUpperCase();\nif (!upperSql.startsWith('INSERT') && !upperSql.startsWith('UPDATE')) {\n  throw new Error('A IA não retornou um INSERT ou UPDATE válido.\\nResposta: ' + sql);\n}\n\nreturn [{ json: { sql_insert: sql } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        280
      ],
      "id": "affc9853-db20-4786-81c1-e6da3265b8a2",
      "name": "Extrair SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_insert }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2140,
        280
      ],
      "id": "43ff5e95-32e8-4d24-acc0-d8af4adc05a9",
      "name": "Salvar no Banco",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avaliacoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2180,
        -560
      ],
      "id": "ad74ea87-1b25-4687-8eab-2c2392a7dff0",
      "name": "Receber Avaliação",
      "webhookId": "843a0a6e-81ad-4495-98ef-3aac3fb1d695"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Valida campos obrigatórios\nif (!body.participant?.telefone) {\n  throw new Error('Campo obrigatório ausente: participant.telefone');\n}\nif (!body.scores) {\n  throw new Error('Campo obrigatório ausente: scores');\n}\n\nconst telefone = body.participant.telefone.replace(/\\D/g, '');\nconst exportDate = body.exportDate || null;\n\n// Monta objeto resultado sem os dados de answers (muito volumoso) — inclua se quiser\nconst resultado = JSON.stringify(body);\n\nreturn [{\n  json: {\n    telefone,\n    tipo_avaliacao: 'hogan',\n    export_date: exportDate,\n    resultado\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1960,
        -560
      ],
      "id": "1fe5d7cc-2468-49b0-a89c-e72691f5204f",
      "name": "Preparar Dados"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT telefone FROM candidatos WHERE REGEXP_REPLACE(telefone, '[^0-9]', '', 'g') = '{{ $json.telefone }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1740,
        -560
      ],
      "id": "cc816433-f306-425b-9247-1a4568cd4bca",
      "name": "Verificar Candidato",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst encontrou = items.length > 0 && !!items[0].json?.telefone;\n\nif (!encontrou) {\n  return [{\n    json: {\n      valido: \"false\",\n      telefone: $('Preparar Dados').item.json.telefone,\n      tipo_avaliacao: $('Preparar Dados').item.json.tipo_avaliacao,\n      export_date: $('Preparar Dados').item.json.export_date,\n      resultado: $('Preparar Dados').item.json.resultado\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valido: \"true\",\n    telefone: items[0].json.telefone,\n    tipo_avaliacao: $('Preparar Dados').item.json.tipo_avaliacao,\n    export_date: $('Preparar Dados').item.json.export_date,\n    resultado: $('Preparar Dados').item.json.resultado\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        -560
      ],
      "id": "c2810310-7e18-4822-9cfd-417ee3eacbd8",
      "name": "Tratar Candidato"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "candidato-valido",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1300,
        -560
      ],
      "id": "f3f9fc83-afa7-4e32-8867-f704327e2c67",
      "name": "Candidato Existe?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidato_avaliacoes (telefone_candidato, tipo_avaliacao, export_date, resultado)\nVALUES (\n  '{{ $json.telefone }}',\n  '{{ $json.tipo_avaliacao }}',\n  {{ $json.export_date ? `'${$json.export_date}'` : 'NULL' }},\n  '{{ $json.resultado.replace(/'/g, \"''\") }}'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1080,
        -660
      ],
      "id": "1e971a95-d48d-423d-8fb3-c5275966e4d6",
      "name": "Salvar Avaliação",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ sucesso: true, mensagem: 'Avaliação salva com sucesso', telefone: $('Tratar Candidato').item.json.telefone }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -860,
        -660
      ],
      "id": "913c79cd-411f-4f65-a2ab-0df06a202efe",
      "name": "Resposta Sucesso"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ JSON.stringify({ sucesso: false, mensagem: 'Candidato não encontrado no banco. Envie o currículo antes da avaliação.', telefone: $json.telefone }) }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1080,
        -460
      ],
      "id": "c36ea85f-83c0-4a4b-aeb8-4b290c1f3321",
      "name": "Resposta Erro"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avaliacoes/candidato",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2180,
        -60
      ],
      "id": "bf2f24da-004e-40fc-a356-33242455e4d3",
      "name": "Webhook Buscar Avaliações",
      "webhookId": "e82af7d6-a883-443e-95e8-417e44222a05"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\n// Aceita qualquer formato: (11) 90810-2064 | 11 90810-2064 | 11908102064\nconst rawPhone = String(body.telefone || '').trim();\n\nif (!rawPhone) {\n  throw new Error('Campo obrigatório ausente: telefone');\n}\n\n// Remove tudo que não for dígito para comparação\nconst digits = rawPhone.replace(/\\D/g, '');\n\nif (digits.length < 8) {\n  throw new Error('Telefone inválido: ' + rawPhone);\n}\n\n// A query normaliza AMBOS os lados: tanto o buscado quanto o armazenado\n// Isso garante match independente do formato salvo no banco\nconst sql = `\n  SELECT\n    id,\n    telefone_candidato,\n    tipo_avaliacao,\n    export_date,\n    resultado,\n    criado_em\n  FROM candidato_avaliacoes\n  WHERE REGEXP_REPLACE(telefone_candidato, '[^0-9]', '', 'g') = '${digits}'\n  ORDER BY criado_em DESC\n  LIMIT 10\n`;\n\nreturn [{ json: { sql, telefone_original: rawPhone, digits } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1960,
        -60
      ],
      "id": "8967faac-4c5d-4ee6-a265-fd03656ce2c4",
      "name": "Normalizar Telefone e Montar SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1740,
        -60
      ],
      "id": "ab56817b-8ade-4be9-ba61-b070674431a4",
      "name": "Buscar Avaliações no Banco",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sqlNode = $('Normalizar Telefone e Montar SQL').first().json;\nconst rows    = $input.all().map(i => i.json).filter(r => r && r.id);\n\n// Parse do campo resultado (JSON string → objeto)\nconst avaliacoes = rows.map(r => {\n  let resultado = r.resultado;\n  if (typeof resultado === 'string') {\n    try { resultado = JSON.parse(resultado); } catch(e) { resultado = null; }\n  }\n  return {\n    id:                  r.id,\n    telefone_candidato:  r.telefone_candidato,\n    tipo_avaliacao:      r.tipo_avaliacao,\n    export_date:         r.export_date,\n    criado_em:           r.criado_em,\n    // Dados do participante extraídos do resultado\n    participante:        resultado && resultado.participant ? resultado.participant : null,\n    // Scores resumidos para exibição rápida\n    scores:              resultado && resultado.scores     ? resultado.scores     : null,\n    // Resultado completo (opcional — remova se quiser resposta menor)\n    resultado\n  };\n});\n\nreturn [{\n  json: {\n    telefone_buscado: sqlNode.telefone_original,\n    total:            avaliacoes.length,\n    avaliacoes\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        -60
      ],
      "id": "b8753e30-1f8d-4b4d-a6b3-88ccbe3a7884",
      "name": "Formatar Resposta"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Limpar Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Temp": {
      "main": [
        [
          {
            "node": "Restaurar Binário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Binário": {
      "main": [
        [
          {
            "node": "Salvar Arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É PDF?": {
      "main": [
        [
          {
            "node": "OCR PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR PDF": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Imagem": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Limpar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Texto": {
      "main": [
        [
          {
            "node": "Verificação de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Completos?": {
      "main": [
        [
          {
            "node": "Extrair Telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Fix T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T1": {
      "main": [
        [
          {
            "node": "Parse Validar T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T1": {
      "main": [
        [
          {
            "node": "T1 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar INSERT SQL IA": {
      "main": [
        [
          {
            "node": "Salvar no Banco IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Banco IA": {
      "main": [
        [
          {
            "node": "Resposta Sucesso IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T2": {
      "main": [
        [
          {
            "node": "Parse Validar T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T2": {
      "main": [
        [
          {
            "node": "T2 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T2 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T3": {
      "main": [
        [
          {
            "node": "Parse Validar T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T3": {
      "main": [
        [
          {
            "node": "T3 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T3 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T4 Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T4 Final": {
      "main": [
        [
          {
            "node": "Parse Validar T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T4": {
      "main": [
        [
          {
            "node": "T4 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T4 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Erro Final": {
      "main": [
        [
          {
            "node": "Preparar SQL Revisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar SQL Revisao": {
      "main": [
        [
          {
            "node": "Salvar Revisao Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Revisao Manual": {
      "main": [
        [
          {
            "node": "Resposta Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificação de dados": {
      "main": [
        [
          {
            "node": "Dados Completos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Buscar1": {
      "main": [
        [
          {
            "node": "Montar SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar SQL1": {
      "main": [
        [
          {
            "node": "Buscar no Banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Banco1": {
      "main": [
        [
          {
            "node": "Montar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Arquivo1": {
      "main": [
        [
          {
            "node": "É PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Resposta": {
      "main": [
        [
          {
            "node": "Tem Erro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Erro?": {
      "main": [
        [
          {
            "node": "Aguardar e Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar e Retry": {
      "main": [
        [
          {
            "node": "Pode Tentar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Tentar?": {
      "main": [
        [
          {
            "node": "GPT Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Chat1": {
      "main": [
        [
          {
            "node": "Preparar Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Chat1": {
      "main": [
        [
          {
            "node": "GPT Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Chat1": {
      "main": [
        [
          {
            "node": "Verificar Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Resultado Busca": {
      "main": [
        [
          {
            "node": "Já Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Telefone1": {
      "main": [
        [
          {
            "node": "Buscar no Banco2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Banco2": {
      "main": [
        [
          {
            "node": "Tratar Resultado Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já Existe?1": {
      "main": [
        [
          {
            "node": "Gerar UPDATE SQL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar INSERT SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar UPDATE SQL1": {
      "main": [
        [
          {
            "node": "Extrair SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar INSERT SQL": {
      "main": [
        [
          {
            "node": "Extrair SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair SQL": {
      "main": [
        [
          {
            "node": "Salvar no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receber Avaliação": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Verificar Candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Candidato": {
      "main": [
        [
          {
            "node": "Tratar Candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Candidato": {
      "main": [
        [
          {
            "node": "Candidato Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidato Existe?": {
      "main": [
        [
          {
            "node": "Salvar Avaliação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Avaliação": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Buscar Avaliações": {
      "main": [
        [
          {
            "node": "Normalizar Telefone e Montar SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Telefone e Montar SQL": {
      "main": [
        [
          {
            "node": "Buscar Avaliações no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Avaliações no Banco": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17dd8513543fcd007fcbf2cc7b308d8668611290d926c6048b7fe95ea7af77ef"
  }
}