all.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        2080
      ],
      "id": "efc76b29-6158-448e-b76c-7a47720779d6",
      "name": "Webhook",
      "webhookId": "f5deb7e0-2d86-4877-8577-d441938168b4"
    },
    {
      "parameters": {
        "command": "rm -f /tmp/upload* 2>/dev/null; echo 'limpeza ok'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        320,
        2080
      ],
      "id": "4aa928b7-a118-4704-8287-cf85da78d25c",
      "name": "Limpar Temp"
    },
    {
      "parameters": {
        "jsCode": "// FIX: Execute Command descarta o binário do Webhook.\n// Recupera o binário original para o próximo nó poder salvar o arquivo.\nconst webhookItem = $('Webhook').first();\nreturn [{\n  json: webhookItem.json,\n  binary: webhookItem.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        2080
      ],
      "id": "738043bf-6d73-414c-b67b-70496f6f9bbc",
      "name": "Restaurar Binário"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18c96931-712a-4d38-af50-9e43741ca773",
              "leftValue": "={{$binary.data0.fileExtension}}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        2080
      ],
      "id": "22807267-e844-4ac4-a185-85355c9dce65",
      "name": "É PDF?"
    },
    {
      "parameters": {
        "command": "=python3 -c \"\nfrom pdf2image import convert_from_path\nimport pytesseract\nimport json\nimport sys\n\narquivo = '/tmp/upload.pdf'\ntexto = ''\n\ntry:\n    paginas = convert_from_path(arquivo, dpi=300)\n    for pagina in paginas:\n        pagina = pagina.convert('L')\n        texto_pagina = pytesseract.image_to_string(\n            pagina,\n            lang='por',\n            config='--oem 3 --psm 4'\n        )\n        texto += texto_pagina + '\\\\n'\n    print(json.dumps({'texto': texto}, ensure_ascii=False))\nexcept Exception as e:\n    print(json.dumps({'erro': str(e)}, ensure_ascii=False))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1240,
        1960
      ],
      "id": "35e1d880-afe3-4637-b8bf-d158901b342f",
      "name": "OCR PDF"
    },
    {
      "parameters": {
        "command": "=python3 -c \"\nimport os\nimport json\nimport sys\nfrom PIL import Image\nimport pytesseract\n\nextensao = '{{$binary.data0.fileExtension}}'\narquivo = f'/tmp/upload.{extensao}'\n\nif not os.path.exists(arquivo):\n    print(json.dumps({'erro': 'arquivo nao encontrado: ' + arquivo}))\n    sys.exit(1)\n\ntry:\n    img = Image.open(arquivo).convert('L')\n    img = img.point(lambda x: 0 if x < 160 else 255, '1')\n\n    texto = pytesseract.image_to_string(img, lang='por', config='--oem 3 --psm 4')\n\n    if len(texto.strip()) < 50:\n        img2 = Image.open(arquivo).convert('L')\n        texto = pytesseract.image_to_string(img2, lang='por', config='--oem 3 --psm 6')\n\n    print(json.dumps({'texto': texto}, ensure_ascii=False))\nexcept Exception as e:\n    print(json.dumps({'erro': str(e)}, ensure_ascii=False))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1240,
        2200
      ],
      "id": "96343ced-86a8-46d2-b7d4-3fa5c122a366",
      "name": "OCR Imagem"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout;\n\nif (!raw) {\n  throw new Error('Nenhum stdout recebido do OCR');\n}\n\nconst data = JSON.parse(raw);\n\nif (data.erro) {\n  throw new Error('Erro no OCR: ' + data.erro);\n}\n\nreturn [{ json: { texto: data.texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        2080
      ],
      "id": "5a4af313-959d-4e1c-a8f4-18d91d02f626",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "jsCode": "let texto = $json.texto || '';\n\n// Junta palavras quebradas no fim da linha com hífen\ntexto = texto.replace(/-\\n/g, '');\n\n// Remove quebras de linha duplicadas\ntexto = texto.replace(/\\n{2,}/g, '\\n');\n\n// Remove espaços e tabs duplicados\ntexto = texto.replace(/[ \\t]+/g, ' ');\n\n// Remove linhas com apenas lixo (menos de 3 chars não-alfanuméricos)\ntexto = texto.replace(/\\n[^\\wÀ-ÿ]{1,3}\\n/g, '\\n');\n\n// Trim geral\ntexto = texto.trim();\n\nreturn [{ json: { texto_limpo: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        2080
      ],
      "id": "7219058b-164e-4600-baff-59079845b9fb",
      "name": "Limpar Texto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "campos-ok-check",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "aprovado\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2620,
        2080
      ],
      "id": "782e4b08-e190-4fe0-bd11-9a4964f5d7c1",
      "name": "Dados Completos?"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "inputType": "base64",
        "binaryPropertyName": "={{$binary.data0.fileExtension}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2840,
        2240
      ],
      "id": "d51a18c5-53a3-4993-92ee-bbb80227398e",
      "name": "OpenAI Fix T1",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Validar Campos Iniciais').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 1;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        2480
      ],
      "id": "bd8eeedc-633a-49a9-9a86-22fdc688baf7",
      "name": "Parse Validar T1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t1-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3280,
        2240
      ],
      "id": "5745aeed-7efc-4860-a39a-e16c719cf404",
      "name": "T1 OK?"
    },
    {
      "parameters": {
        "jsCode": "var dados = $json.dados_extraidos || {};\nvar logs = ($json.logs || []).slice();\nvar ts = new Date().toISOString();\nvar sq = String.fromCharCode(39);\nvar escape = function(v) { return String(v).split(sq).join(sq + sq); };\n\nvar campos = [];\nvar valores = [];\n\nif (dados.nome_completo) { campos.push('nome_completo'); valores.push(sq + escape(dados.nome_completo) + sq); }\nif (dados.cargo_pretendido) { campos.push('cargo_pretendido'); valores.push(sq + escape(dados.cargo_pretendido) + sq); }\nif (dados.habilidades) { campos.push('habilidades'); valores.push(sq + escape(dados.habilidades) + sq); }\nif (dados.experiencia_resumida) { campos.push('experiencia_resumida'); valores.push(sq + escape(dados.experiencia_resumida) + sq); }\nif (dados.email) { campos.push('email'); valores.push(sq + escape(dados.email) + sq); }\nif (dados.telefone) { campos.push('telefone'); valores.push(sq + escape(dados.telefone) + sq); }\nif (dados.localizacao) { campos.push('localizacao'); valores.push(sq + escape(dados.localizacao) + sq); }\n\nvar sql = 'INSERT INTO candidatos (' + campos.join(', ') + ') VALUES (' + valores.join(', ') + ');';\n\nlogs.push('[' + ts + '][SUCESSO] INSERT SQL montado via IA com ' + campos.length + ' campos (tentativa ' + ($json.tentativa || '?') + ')');\n\nreturn [{ json: {\n  sql_insert: sql,\n  dados_extraidos: dados,\n  logs: logs,\n  tentativa: $json.tentativa || 0,\n  status: 'pronto_para_salvar'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        2080
      ],
      "id": "11ff2aa8-fb54-4feb-85f9-59d9b3f066ce",
      "name": "Montar INSERT SQL IA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_insert }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4160,
        2080
      ],
      "id": "1ee0b497-c342-4b4b-bd88-57114a0907e4",
      "name": "Salvar no Banco IA",
      "credentials": {
        "postgres": {
          "id": "rTrShRTTrTrus5IG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var logs = ($json.logs || []).slice();\nvar ts = new Date().toISOString();\nlogs.push('[' + ts + '][SUCESSO] Candidato salvo no banco de dados via IA (tentativa ' + ($json.tentativa || '?') + ')');\nreturn [{ json: {\n  status: 'sucesso',\n  metodo: 'ia',\n  tentativa: $json.tentativa || 0,\n  mensagem: 'Candidato processado pela IA e salvo com sucesso',\n  log_completo: logs.join('\\n'),\n  timestamp: ts\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4380,
        2080
      ],
      "id": "fd3c13b0-c43d-4547-a4c2-e32afe435c21",
      "name": "Resposta Sucesso IA"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3500,
        2240
      ],
      "id": "8055a5f4-46da-46b8-bed5-a89a33b36eb5",
      "name": "Wait 5s",
      "webhookId": "aa000010-0000-4000-a000-000000000010"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3720,
        2240
      ],
      "id": "c1e3b10a-57ce-4152-be90-3982c5591309",
      "name": "OpenAI Fix T2",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 5s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 2;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        2680
      ],
      "id": "a7a9172d-9cb1-4493-a48a-067c10e44faa",
      "name": "Parse Validar T2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t2-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4160,
        2240
      ],
      "id": "d9361659-6365-4e35-a920-53a221528478",
      "name": "T2 OK?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4380,
        2240
      ],
      "id": "8bacffc6-bdae-40fd-a8c9-e15d90ab0987",
      "name": "Wait 15s",
      "webhookId": "aa000014-0000-4000-a000-000000000014"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4600,
        2240
      ],
      "id": "6741c3d3-0905-487a-a51a-18ed06080364",
      "name": "OpenAI Fix T3",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 15s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 3;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4920,
        2540
      ],
      "id": "a8d0f8b7-4546-4179-b06c-fe1d9e303421",
      "name": "Parse Validar T3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t3-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5040,
        2240
      ],
      "id": "1bd98c5a-c693-4605-914b-124cbae386fd",
      "name": "T3 OK?"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5260,
        2240
      ],
      "id": "3a87878c-d20e-4983-8709-9d42ab377d9c",
      "name": "Wait 30s",
      "webhookId": "aa000018-0000-4000-a000-000000000018"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5480,
        2240
      ],
      "id": "d3e91b91-6e5b-4379-afd1-b5dac2a8ab64",
      "name": "OpenAI Fix T4 Final",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 30s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 4;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5720,
        2580
      ],
      "id": "3b8c88b3-d830-4ead-a1e4-4addecf6921b",
      "name": "Parse Validar T4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t4-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5920,
        2240
      ],
      "id": "4d5225db-f166-4065-b812-cb1d6080dddc",
      "name": "T4 OK?"
    },
    {
      "parameters": {
        "jsCode": "var logs = ($json.logs || []).slice();\nvar tentativa = $json.tentativa || $json.retry_count || 0;\nvar textoLimpo = $json.texto_limpo || '';\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][ERRO FINAL] Todas as ' + tentativa + ' tentativas de extracao via IA falharam');\nlogs.push('[' + ts + '][ERRO FINAL] Campos obrigatorios (nome e/ou telefone) nao puderam ser extraidos');\nlogs.push('[' + ts + '][ERRO FINAL] Arquivo encaminhado para fila de revisao manual');\n\nvar motivo = 'Extracao falhou apos ' + tentativa + ' tentativas: campos obrigatorios ausentes (nome e/ou telefone)';\n\nreturn [{ json: {\n  status: 'revisao_manual',\n  motivo_erro: motivo,\n  tentativas_realizadas: tentativa,\n  texto_trecho: textoLimpo.substring(0, 1000),\n  log_completo: logs.join('\\n'),\n  timestamp: ts\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6140,
        2240
      ],
      "id": "fa3baefe-591c-45d1-b2e7-702b73122104",
      "name": "Log Erro Final"
    },
    {
      "parameters": {
        "jsCode": "var sq = String.fromCharCode(39);\nvar escape = function(v) { return String(v).split(sq).join(sq + sq); };\n\nvar texto = escape(($json.texto_trecho || '').substring(0, 1000));\nvar motivo = escape($json.motivo_erro || 'Erro desconhecido');\nvar logTxt = escape(($json.log_completo || '').substring(0, 5000));\nvar tentativas = parseInt($json.tentativas_realizadas || 0);\n\nvar sql = 'INSERT INTO revisao_manual (texto_trecho, motivo_erro, log_completo, tentativas_realizadas, criado_em) VALUES (' + sq + texto + sq + ', ' + sq + motivo + sq + ', ' + sq + logTxt + sq + ', ' + tentativas + ', NOW());';\n\nreturn [{ json: {\n  sql_revisao: sql,\n  motivo_erro: $json.motivo_erro,\n  log_completo: $json.log_completo,\n  tentativas: tentativas\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6360,
        2240
      ],
      "id": "35eac10b-bc03-44e5-9fd5-1e6ae7909c2f",
      "name": "Preparar SQL Revisao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_revisao }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6580,
        2240
      ],
      "id": "c5229eda-c538-47eb-b87e-cc9e62f49285",
      "name": "Salvar Revisao Manual",
      "credentials": {
        "postgres": {
          "id": "rTrShRTTrTrus5IG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  status: 'erro',\n  mensagem: $json.motivo_erro || 'Falha no processamento',\n  tentativas_realizadas: $json.tentativas,\n  log_completo: $json.log_completo,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6800,
        2240
      ],
      "id": "ba3f5429-1562-485f-8828-1e2503baface",
      "name": "Resposta Erro Final"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um validador de currículos.\n\nAnalise o texto abaixo e verifique se ele contém:\n\n1. Nome completo da pessoa (nome e sobrenome identificáveis).\n2. Telefone de contato válido (aceite formatos nacionais e internacionais, com ou sem DDD, parênteses, espaços, hífens ou código do país).\n\nTexto do currículo:\n{{ $json.texto_limpo }}\n\nRegras de validação:\n- Considere aprovado somente se os dois itens estiverem presentes.\n- Se houver apenas nome ou apenas telefone, considere reprovado.\n- Se houver dúvida sobre a existência de um nome completo, considere reprovado.\n- Ignore e-mails, endereços, links e outras informações que não sejam nome e telefone.\n\nRetorne exclusivamente um JSON válido, sem explicações, comentários ou texto adicional:\n\nSe aprovado:\n{\"aprovado\": true}\n\nSe reprovado:\n{\"aprovado\": false}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2280,
        2080
      ],
      "id": "116d2116-31de-42c7-be0d-c84406853c85",
      "name": "Verificação de dados",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Recupera as palavras buscadas do nó anterior\nconst palavras = $('Montar SQL1').first().json.palavras;\n\n// Faz o parse do resultado do banco\nlet candidatos = $json.candidatos;\nif (typeof candidatos === 'string') {\n  try { candidatos = JSON.parse(candidatos); } catch(e) { candidatos = []; }\n}\nif (!Array.isArray(candidatos)) { candidatos = []; }\n\n// Retorno direto: encontrou ou não\nif (candidatos.length === 0) {\n  return [{ json: {\n    total: 0,\n    palavras_buscadas: palavras,\n    candidatos: [],\n    mensagem: 'Nenhum candidato encontrado para as palavras-chave informadas.'\n  }}];\n}\n\nreturn [{ json: {\n  total: candidatos.length,\n  palavras_buscadas: palavras,\n  candidatos\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        80
      ],
      "id": "962f5da6-bfca-4b85-97f0-631a4b77c98a",
      "name": "Montar Resposta"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buscar",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        80
      ],
      "id": "40330b31-2125-4677-af73-d943add8ee8e",
      "name": "Webhook Buscar1",
      "webhookId": "96a37c55-8154-4bac-b0b5-f4534ced1819"
    },
    {
      "parameters": {
        "jsCode": "// Payload esperado:\n// { \"palavras\": [\"Desenvolvimento\", \"Software\"], \"limite\": 10 }\n\nconst body = $json.body || $json;\n\n// Aceita tanto array (novo) quanto string separada por vírgula (compatibilidade)\nlet palavras = body.palavras || [];\nif (typeof palavras === 'string') {\n  palavras = palavras.split(',').map(p => p.trim()).filter(Boolean);\n}\n\nconst limite = Math.min(parseInt(body.limite) || 10, 50);\n\nconst esc = s => (s || '').replace(/'/g, \"''\");\n\n// Busca full-text: cada palavra é procurada em TODOS os campos relevantes\nconst conditions = palavras.map(p => {\n  const v = esc(p);\n  return `(\n    nome_completo    ILIKE '%${v}%' OR\n    cargo_pretendido ILIKE '%${v}%' OR\n    habilidades      ILIKE '%${v}%' OR\n    localizacao      ILIKE '%${v}%' OR\n    texto_curriculo  ILIKE '%${v}%'\n  )`;\n});\n\n// AND entre palavras (todas devem aparecer), OR entre campos\nconst where = conditions.length ? `WHERE ${conditions.join(' AND ')}` : '';\n\nconst sql = `\n  SELECT COALESCE(json_agg(row_to_json(c)), '[]'::json) AS candidatos\n  FROM (\n    SELECT\n      telefone,\n      nome_completo,\n      cargo_pretendido,\n      habilidades,\n      localizacao,\n      nome_arquivo,\n      LEFT(texto_curriculo, 300) AS experiencia_resumida,\n      criado_em\n    FROM candidatos\n    ${where}\n    LIMIT ${limite}\n  ) c\n`;\n\nreturn [{ json: { sql, palavras, limite } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        80
      ],
      "id": "b6d6c34e-01f4-41fc-8700-13bfdf9b1384",
      "name": "Montar SQL1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        80
      ],
      "id": "fc4ef314-c676-4480-809d-6b5f8f1e6542",
      "name": "Buscar no Banco1",
      "credentials": {
        "postgres": {
          "id": "rTrShRTTrTrus5IG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/upload.{{$binary.data0.fileExtension}}",
        "dataPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        760,
        2080
      ],
      "id": "66be0407-ded8-48e7-86f5-503dd816523f",
      "name": "Salvar Arquivo1"
    },
    {
      "parameters": {
        "jsCode": "// Verifica se a resposta da IA é válida\nconst content =\n  $json.content ||\n  ($json.message && $json.message.content) ||\n  ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ||\n  null;\n\n// Recupera contexto do nó Preparar Chat\nconst ctx = $('Preparar Chat1').first().json;\n\nif (!content) {\n  // Sem conteúdo válido — trata como erro\n  return [{\n    json: {\n      erro: true,\n      mensagem: ctx.mensagem,\n      candidatosStr: ctx.candidatosStr,\n      historicoFormatado: ctx.historicoFormatado,\n      tentativa: ctx.tentativa,\n      maxTentativas: ctx.maxTentativas\n    }\n  }];\n}\n\n// Sucesso — monta resposta final\nconst historicoAtualizado = [\n  ...ctx.historicoFormatado,\n  { role: 'user', content: ctx.mensagem },\n  { role: 'assistant', content: content }\n];\n\nreturn [{ json: {\n  erro: false,\n  resposta: content,\n  historico: historicoAtualizado\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        520
      ],
      "id": "427405c7-b4ee-4d29-aa2e-43376e374a47",
      "name": "Verificar Resposta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-erro",
              "leftValue": "={{ $json.erro }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        520
      ],
      "id": "1861ba5c-d968-49f1-aba0-f15c54121cf9",
      "name": "Tem Erro?"
    },
    {
      "parameters": {
        "jsCode": "// Verifica se ainda há tentativas disponíveis\nconst tentativa = $json.tentativa || 1;\nconst maxTentativas = $json.maxTentativas || 3;\n\nif (tentativa >= maxTentativas) {\n  // Esgotou todas as tentativas\n  return [{ json: {\n    podetentar: false,\n    tentativa,\n    maxTentativas,\n    mensagem: $json.mensagem,\n    candidatosStr: $json.candidatosStr,\n    historicoFormatado: $json.historicoFormatado\n  }}];\n}\n\n// Ainda pode tentar: aguarda 5 segundos\nawait new Promise(resolve => setTimeout(resolve, 5000));\n\n// Incrementa tentativa e repassa o contexto\nreturn [{ json: {\n  podetentar: true,\n  tentativa: tentativa + 1,\n  maxTentativas,\n  mensagem: $json.mensagem,\n  candidatosStr: $json.candidatosStr,\n  historicoFormatado: $json.historicoFormatado\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        280
      ],
      "id": "14bdc365-1523-4945-a060-916c6ae42705",
      "name": "Aguardar e Retry"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-pode",
              "leftValue": "={{ $json.podetentar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        280
      ],
      "id": "536b9689-7b72-4611-b372-7fc1da67a8de",
      "name": "Pode Tentar?"
    },
    {
      "parameters": {
        "jsCode": "// Todas as tentativas falharam — retorna erro amigável\nreturn [{ json: {\n  resposta: null,\n  erro: true,\n  mensagem: 'Não foi possível obter resposta da IA após 3 tentativas. Tente novamente em instantes.',\n  historico: $json.historicoFormatado || []\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        420
      ],
      "id": "db229ef7-61e4-47ba-a11b-825ddec9bb84",
      "name": "Erro Final"
    },
    {
      "parameters": {
        "jsCode": "// Resposta de sucesso — limpa campos internos e retorna apenas o necessário\nreturn [{ json: {\n  resposta: $json.resposta,\n  historico: $json.historico\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        560
      ],
      "id": "42783792-78ad-4927-bf63-de5a180eec80",
      "name": "Resposta OK"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        400
      ],
      "id": "46405b1c-5015-4cb5-9ea6-9b3bfc3c3ace",
      "name": "Webhook Chat1",
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst mensagem = (body.mensagem || '').trim();\nconst candidatos = Array.isArray(body.candidatos) ? body.candidatos : [];\nconst historico = Array.isArray(body.historico) ? body.historico : [];\n\nif (!mensagem) {\n  throw new Error('Campo \"mensagem\" é obrigatório.');\n}\n\nconst candidatosStr = candidatos.length\n  ? candidatos.map((c, i) =>\n      `[Candidato ${i + 1}]\\n` +\n      `  Nome: ${c.nome_completo || 'N/A'}\\n` +\n      `  Telefone: ${c.telefone || 'N/A'}\\n` +\n      `  Cargo pretendido: ${c.cargo_pretendido || 'N/A'}\\n` +\n      `  Habilidades: ${c.habilidades || 'N/A'}\\n` +\n      `  Localização: ${c.localizacao || 'N/A'}\\n` +\n      `  Resumo: ${(c.experiencia_resumida || '').substring(0, 300)}`\n    ).join('\\n\\n')\n  : 'Nenhum candidato fornecido.';\n\nconst historicoFormatado = historico\n  .filter(h => h.role && h.content)\n  .map(h => ({ role: h.role, content: String(h.content) }));\n\n// Inicializa contador de tentativas\nreturn [{ json: {\n  mensagem,\n  candidatosStr,\n  historicoFormatado,\n  totalCandidatos: candidatos.length,\n  tentativa: 1,\n  maxTentativas: 3\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        400
      ],
      "id": "73ee6357-cd1b-4a3a-b92b-4fa5d21d2feb",
      "name": "Preparar Chat1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especialista em recrutamento e seleção.\n\nVocê tem acesso aos seguintes candidatos:\n\n{{ $json.candidatosStr }}\n\nResponda apenas com base nos dados fornecidos acima.\n\n### Suas funções\n\n* Responder perguntas sobre candidatos.\n* Comparar candidatos.\n* Identificar habilidades e experiências relevantes.\n* Recomendar os candidatos mais adequados para uma vaga.\n* Destacar pontos fortes e possíveis pontos de atenção.\n\n### Regras\n\n* Responda sempre em português do Brasil.\n* Utilize sempre Markdown válido.\n* Organize a resposta com títulos, listas, tabelas e negrito quando necessário.\n* Seja profissional, claro e objetivo.\n* Não invente informações.\n* Se uma informação não estiver disponível, informe isso claramente.\n* Se não houver candidatos disponíveis, responda: \"Nenhum candidato foi encontrado para análise.\"\n* Ao recomendar candidatos, explique brevemente os motivos da recomendação com base nos dados encontrados.\n\nRetorne apenas a resposta em Markdown, sem explicações adicionais sobre o formato.\n",
              "role": "system"
            },
            {
              "content": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        500,
        540
      ],
      "id": "156d17c3-8daa-4edd-8f6f-08f4da4169d8",
      "name": "GPT Chat1",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json || !items[0].json.telefone) {\n  return [{ json: { existe: false, telefone: $('Extrair Telefone1').item.json.telefone } }];\n}\n\nconst telefoneFormatado = items[0].json.telefone;\n\nreturn [{ json: { existe: true, telefone: telefoneFormatado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        1820
      ],
      "id": "52853679-3d61-42b6-94f1-3a1c93ae4d2b",
      "name": "Tratar Resultado Busca"
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Limpar Texto').item.json.texto_limpo || '';\n\nconst regex = /(\\(?\\d{2}\\)?)\\s?[9]?\\d{4}[-\\s]?\\d{4}/g;\nconst matches = texto.match(regex);\n\nif (!matches || matches.length === 0) {\n  throw new Error('Nenhum telefone encontrado no currículo.');\n}\n\nconst telefone = matches[0].replace(/\\D/g, '');\n\nreturn [{ json: { telefone, texto_limpo: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        1920
      ],
      "id": "b9637395-588a-4baa-9e0f-a27c58c15a97",
      "name": "Extrair Telefone1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT telefone FROM candidatos WHERE REGEXP_REPLACE(telefone, '[^0-9]', '', 'g') = '{{ $json.telefone }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3120,
        1820
      ],
      "id": "cc42e4fb-1b35-4625-816d-8325241740b1",
      "name": "Buscar no Banco2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rTrShRTTrTrus5IG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "registro-existe",
              "leftValue": "={{ $json.existe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3560,
        1820
      ],
      "id": "35bc7bc6-7dd9-436b-a7f4-1e6e34d8bcec",
      "name": "Já Existe?1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especializado em extrair dados estruturados de currículos e gerar comandos SQL.\n\nTexto do currículo:\n{{ $('Limpar Texto').item.json.texto_limpo }}\n\nTelefone (chave primária já existente, use exatamente este valor no WHERE): {{ $('Tratar Resultado Busca').item.json.telefone }}\n\nGere um comando SQL UPDATE para a tabela \"candidatos\" com as seguintes regras:\n\n1. Mapeie os campos encontrados no texto:\n   - Nome completo → nome_completo\n   - Cargo pretendido / área de atuação → cargo_pretendido\n   - Habilidades / tecnologias / ferramentas → habilidades\n   - Cidade / estado → localizacao\n   - E-mail → email\n   - Nome do arquivo → nome_arquivo\n   - Texto completo → texto_curriculo\n\n2. Inclua APENAS os campos que estiverem presentes no texto\n3. Escape aspas simples duplicando-as (ex: O'Brien → O''Brien)\n4. Use o telefone fornecido no WHERE sem modificações\n5. Retorne SOMENTE o comando SQL, sem explicações, sem blocos de código markdown\n\nFormato esperado:\nUPDATE candidatos SET campo1 = 'valor1', campo2 = 'valor2' WHERE telefone = 'numero';"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3860,
        1720
      ],
      "id": "285ad20d-e4fd-4730-9ec2-1433ce8b4f33",
      "name": "Gerar UPDATE SQL1",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especializado em extrair dados estruturados de currículos e gerar comandos SQL.\n\nTexto do currículo:\n{{ $('Limpar Texto').item.json.texto_limpo }}\n\nGere um comando SQL INSERT para a tabela \"candidatos\" com as seguintes regras:\n\n1. Mapeie os campos encontrados no texto:\n   - Nome completo → nome_completo\n   - Cargo pretendido / área de atuação → cargo_pretendido\n   - Habilidades / tecnologias / ferramentas → habilidades\n   - Resumo de experiências → texto_curriculo\n   - E-mail → email\n   - Telefone → telefone\n   - Cidade / estado → localizacao\n\n2. Inclua APENAS os campos que estiverem presentes no texto\n3. Escape aspas simples duplicando-as (ex: O'Brien → O''Brien)\n4. Retorne SOMENTE o comando SQL, sem explicações, sem blocos de código markdown\n\n5. Estrutura da tabela:\ntelefone VARCHAR(50) PRIMARY KEY,\nnome_completo VARCHAR(255) NOT NULL,\ncargo_pretendido VARCHAR(255),\nhabilidades TEXT,\nlocalizacao VARCHAR(255),\nemail VARCHAR(255),\nnome_arquivo VARCHAR(255),\ntexto_curriculo TEXT\n\nFormato esperado:\nINSERT INTO candidatos (campo1, campo2, campo3)\nVALUES ('valor1', 'valor2', 'valor3');"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3860,
        1900
      ],
      "id": "e2debafd-c2ef-4fa3-a824-75c08c82fdf8",
      "name": "Gerar INSERT SQL",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content =\n  $json.content ||\n  $json.message?.content ||\n  $json.choices?.[0]?.message?.content ||\n  $json.text ||\n  '';\n\nif (!content) {\n  throw new Error(\n    'Não foi possível extrair o SQL da resposta da IA.\\nJSON recebido: ' +\n    JSON.stringify($json, null, 2)\n  );\n}\n\nlet sql = content.trim();\nsql = sql.replace(/```sql\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nconst upperSql = sql.toUpperCase();\nif (!upperSql.startsWith('INSERT') && !upperSql.startsWith('UPDATE')) {\n  throw new Error('A IA não retornou um INSERT ou UPDATE válido.\\nResposta: ' + sql);\n}\n\nreturn [{ json: { sql_insert: sql } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4360,
        1800
      ],
      "id": "b0f117d1-34e8-432a-947e-0a7f5dabf05c",
      "name": "Extrair SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_insert }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4580,
        1800
      ],
      "id": "1b5414dc-1d4b-4a36-9d9a-ada1abb93476",
      "name": "Salvar no Banco",
      "credentials": {
        "postgres": {
          "id": "rTrShRTTrTrus5IG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avaliacoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        900
      ],
      "id": "5595ccb9-4c07-477e-a1cf-a93ffa5c4c6a",
      "name": "Receber Avaliação",
      "webhookId": "843a0a6e-81ad-4495-98ef-3aac3fb1d695"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Valida campos obrigatórios\nif (!body.participant?.telefone) {\n  throw new Error('Campo obrigatório ausente: participant.telefone');\n}\nif (!body.scores) {\n  throw new Error('Campo obrigatório ausente: scores');\n}\n\nconst telefone = body.participant.telefone.replace(/\\D/g, '');\nconst exportDate = body.exportDate || null;\n\n// Monta objeto resultado sem os dados de answers (muito volumoso) — inclua se quiser\nconst resultado = JSON.stringify(body);\n\nreturn [{\n  json: {\n    telefone,\n    tipo_avaliacao: 'hogan',\n    export_date: exportDate,\n    resultado\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        900
      ],
      "id": "ff51f0cc-e2ac-4394-b060-540c98bdf31a",
      "name": "Preparar Dados"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT telefone FROM candidatos WHERE REGEXP_REPLACE(telefone, '[^0-9]', '', 'g') = '{{ $json.telefone }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        900
      ],
      "id": "5061d991-da6f-4052-9432-6e8c3b679e6b",
      "name": "Verificar Candidato",
      "credentials": {
        "postgres": {
          "id": "rTrShRTTrTrus5IG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst encontrou = items.length > 0 && !!items[0].json?.telefone;\n\nif (!encontrou) {\n  return [{\n    json: {\n      valido: \"false\",\n      telefone: $('Preparar Dados').item.json.telefone,\n      tipo_avaliacao: $('Preparar Dados').item.json.tipo_avaliacao,\n      export_date: $('Preparar Dados').item.json.export_date,\n      resultado: $('Preparar Dados').item.json.resultado\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valido: \"true\",\n    telefone: items[0].json.telefone,\n    tipo_avaliacao: $('Preparar Dados').item.json.tipo_avaliacao,\n    export_date: $('Preparar Dados').item.json.export_date,\n    resultado: $('Preparar Dados').item.json.resultado\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        900
      ],
      "id": "21e79727-be2e-4411-9500-9deaf941612a",
      "name": "Tratar Candidato"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "candidato-valido",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        900
      ],
      "id": "a28a8147-29a8-4303-a20a-0b758615d4fe",
      "name": "Candidato Existe?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidato_avaliacoes (telefone_candidato, tipo_avaliacao, export_date, resultado)\nVALUES (\n  '{{ $json.telefone }}',\n  '{{ $json.tipo_avaliacao }}',\n  {{ $json.export_date ? `'${$json.export_date}'` : 'NULL' }},\n  '{{ $json.resultado.replace(/'/g, \"''\") }}'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1140,
        800
      ],
      "id": "0732194e-3d7a-4009-8f90-86b3714efcb6",
      "name": "Salvar Avaliação",
      "credentials": {
        "postgres": {
          "id": "rTrShRTTrTrus5IG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ sucesso: true, mensagem: 'Avaliação salva com sucesso', telefone: $('Tratar Candidato').item.json.telefone }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        800
      ],
      "id": "12356c29-e069-4922-bb11-114a6af40401",
      "name": "Resposta Sucesso"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ JSON.stringify({ sucesso: false, mensagem: 'Candidato não encontrado no banco. Envie o currículo antes da avaliação.', telefone: $json.telefone }) }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        1000
      ],
      "id": "fff32e86-b6d8-4492-93c1-0da9b0380c5d",
      "name": "Resposta Erro"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avaliacoes/candidato",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        1700
      ],
      "id": "2d2e8807-b2f1-4bb0-afd6-207b4c8281e9",
      "name": "Webhook Buscar Avaliações",
      "webhookId": "e82af7d6-a883-443e-95e8-417e44222a05"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\n// Aceita qualquer formato: (11) 90810-2064 | 11 90810-2064 | 11908102064\nconst rawPhone = String(body.telefone || '').trim();\n\nif (!rawPhone) {\n  throw new Error('Campo obrigatório ausente: telefone');\n}\n\n// Remove tudo que não for dígito para comparação\nconst digits = rawPhone.replace(/\\D/g, '');\n\nif (digits.length < 8) {\n  throw new Error('Telefone inválido: ' + rawPhone);\n}\n\n// A query normaliza AMBOS os lados: tanto o buscado quanto o armazenado\n// Isso garante match independente do formato salvo no banco\nconst sql = `\n  SELECT\n    id,\n    telefone_candidato,\n    tipo_avaliacao,\n    export_date,\n    resultado,\n    criado_em\n  FROM candidato_avaliacoes\n  WHERE REGEXP_REPLACE(telefone_candidato, '[^0-9]', '', 'g') = '${digits}'\n  ORDER BY criado_em DESC\n  LIMIT 10\n`;\n\nreturn [{ json: { sql, telefone_original: rawPhone, digits } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        1700
      ],
      "id": "95889cfa-4a6f-496e-b921-f3140b5af97c",
      "name": "Normalizar Telefone e Montar SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        1700
      ],
      "id": "008b9b06-1445-4379-9961-461b367cf279",
      "name": "Buscar Avaliações no Banco",
      "credentials": {
        "postgres": {
          "id": "rTrShRTTrTrus5IG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sqlNode = $('Normalizar Telefone e Montar SQL').first().json;\nconst rows    = $input.all().map(i => i.json).filter(r => r && r.id);\n\n// Parse do campo resultado (JSON string → objeto)\nconst avaliacoes = rows.map(r => {\n  let resultado = r.resultado;\n  if (typeof resultado === 'string') {\n    try { resultado = JSON.parse(resultado); } catch(e) { resultado = null; }\n  }\n  return {\n    id:                  r.id,\n    telefone_candidato:  r.telefone_candidato,\n    tipo_avaliacao:      r.tipo_avaliacao,\n    export_date:         r.export_date,\n    criado_em:           r.criado_em,\n    // Dados do participante extraídos do resultado\n    participante:        resultado && resultado.participant ? resultado.participant : null,\n    // Scores resumidos para exibição rápida\n    scores:              resultado && resultado.scores     ? resultado.scores     : null,\n    // Resultado completo (opcional — remova se quiser resposta menor)\n    resultado\n  };\n});\n\nreturn [{\n  json: {\n    telefone_buscado: sqlNode.telefone_original,\n    total:            avaliacoes.length,\n    avaliacoes\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1700
      ],
      "id": "5408b869-5b09-47cb-98df-9cac982a155e",
      "name": "Formatar Resposta"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sugerir-keywords",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        1300
      ],
      "id": "96945d17-d7ea-4159-ae4c-a9cf9851c5bd",
      "name": "Webhook Sugerir Keywords",
      "webhookId": "fa49e347-9db2-43e2-83a0-60084202f8c6"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst vaga = (body.vaga || '').trim();\n\nif (!vaga) {\n  throw new Error('Campo \"vaga\" é obrigatório.');\n}\n\nreturn [{ json: {\n  vaga,\n  tentativa: 1,\n  maxTentativas: 3\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        1300
      ],
      "id": "fe1d77e5-f111-4c8c-a52b-182ac742ace3",
      "name": "Preparar Requisição"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Você é um especialista em recrutamento e seleção.\n\nSua tarefa é analisar a descrição de uma vaga e gerar exatamente 20 palavras-chave relevantes que podem aparecer em currículos de candidatos qualificados para essa vaga.\n\n### Regras\n\n* Retorne APENAS um array JSON com exatamente 20 strings, sem nenhum texto adicional, sem markdown, sem explicações.\n* Cada item deve ser uma única palavra ou expressão curta (no máximo 3 palavras).\n* Inclua: habilidades técnicas, ferramentas, tecnologias, soft skills relevantes, áreas de conhecimento, certificações comuns, cargos anteriores típicos.\n* Palavras devem estar em português do Brasil, exceto termos técnicos que são usados em inglês (ex: Excel, Python, SQL).\n* Não repita palavras. Não inclua a própria vaga como palavra-chave.\n* Formato de retorno obrigatório: [\"palavra1\", \"palavra2\", ..., \"palavra20\"]\n\nExemplo de retorno para vaga de Analista de TI:\n[\"suporte técnico\", \"Windows Server\", \"Active Directory\", \"redes\", \"TCP/IP\", \"firewall\", \"ITIL\", \"helpdesk\", \"Office 365\", \"virtualização\", \"VMware\", \"backup\", \"monitoramento\", \"Linux\", \"PowerShell\", \"troubleshooting\", \"atendimento ao usuário\", \"infraestrutura\", \"segurança da informação\", \"cloud\"]",
              "role": "system"
            },
            {
              "content": "={{ $json.vaga }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        520,
        1400
      ],
      "id": "5986828e-675f-4433-b072-60181679dfd0",
      "name": "GPT Sugerir Keywords",
      "credentials": {
        "openAiApi": {
          "id": "qR7Z3wSPgJYp0XKm",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extrai o conteúdo da resposta do GPT\nconst content =\n  $json.content ||\n  ($json.message && $json.message.content) ||\n  ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ||\n  null;\n\nconst ctx = $('Preparar Requisição').first().json;\n\nif (!content) {\n  return [{ json: {\n    erro: true,\n    tentativa: ctx.tentativa,\n    maxTentativas: ctx.maxTentativas,\n    vaga: ctx.vaga\n  }}];\n}\n\n// Tenta parsear o JSON retornado pelo GPT\nlet keywords = [];\ntry {\n  // Remove possível markdown em volta (```json ... ```)\n  const cleaned = content.replace(/```[a-z]*\\n?/gi, '').replace(/```/g, '').trim();\n  keywords = JSON.parse(cleaned);\n  if (!Array.isArray(keywords)) throw new Error('Não é um array');\n} catch(e) {\n  // Tenta extrair com regex caso o GPT retorne algo fora do formato\n  const matches = content.match(/\"([^\"]{1,60})\"/g);\n  if (matches) {\n    keywords = matches.map(m => m.replace(/\"/g, '').trim()).filter(Boolean);\n  }\n}\n\nif (!keywords.length) {\n  return [{ json: {\n    erro: true,\n    tentativa: ctx.tentativa,\n    maxTentativas: ctx.maxTentativas,\n    vaga: ctx.vaga\n  }}];\n}\n\nreturn [{ json: {\n  erro: false,\n  keywords: keywords.slice(0, 20)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        1400
      ],
      "id": "6532d82c-6a99-4a39-9f92-bf54b0a85bdb",
      "name": "Verificar Resposta1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-erro",
              "leftValue": "={{ $json.erro }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        1400
      ],
      "id": "f4fc68e9-6a65-488a-bb4d-00ef06b50870",
      "name": "Tem Erro?1"
    },
    {
      "parameters": {
        "jsCode": "const tentativa = $json.tentativa || 1;\nconst maxTentativas = $json.maxTentativas || 3;\n\nif (tentativa >= maxTentativas) {\n  return [{ json: {\n    podetentar: false,\n    tentativa,\n    maxTentativas,\n    vaga: $json.vaga\n  }}];\n}\n\nawait new Promise(resolve => setTimeout(resolve, 5000));\n\nreturn [{ json: {\n  podetentar: true,\n  tentativa: tentativa + 1,\n  maxTentativas,\n  vaga: $json.vaga\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1180
      ],
      "id": "6f6bbfd1-2c0e-45a7-8dfd-59bafdca85e0",
      "name": "Aguardar e Retry1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-pode",
              "leftValue": "={{ $json.podetentar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        1180
      ],
      "id": "5a79f9db-89f5-426f-b3c5-41b36244aea5",
      "name": "Pode Tentar?1"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  keywords: null,\n  erro: true,\n  mensagem: 'Não foi possível gerar palavras-chave após 3 tentativas. Tente novamente em instantes.'\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1320
      ],
      "id": "b70dfa9d-0acc-4ff7-badb-6e5d17690e81",
      "name": "Erro Final1"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  keywords: $json.keywords\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1460
      ],
      "id": "e6acfb24-d36c-437d-9ddf-344f71a3550f",
      "name": "Resposta OK1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Limpar Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Temp": {
      "main": [
        [
          {
            "node": "Restaurar Binário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Binário": {
      "main": [
        [
          {
            "node": "Salvar Arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É PDF?": {
      "main": [
        [
          {
            "node": "OCR PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR PDF": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Imagem": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Limpar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Texto": {
      "main": [
        [
          {
            "node": "Verificação de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Completos?": {
      "main": [
        [
          {
            "node": "Extrair Telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Fix T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T1": {
      "main": [
        [
          {
            "node": "Parse Validar T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T1": {
      "main": [
        [
          {
            "node": "T1 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar INSERT SQL IA": {
      "main": [
        [
          {
            "node": "Salvar no Banco IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Banco IA": {
      "main": [
        [
          {
            "node": "Resposta Sucesso IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T2": {
      "main": [
        [
          {
            "node": "Parse Validar T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T2": {
      "main": [
        [
          {
            "node": "T2 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T2 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T3": {
      "main": [
        [
          {
            "node": "Parse Validar T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T3": {
      "main": [
        [
          {
            "node": "T3 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T3 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T4 Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T4 Final": {
      "main": [
        [
          {
            "node": "Parse Validar T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T4": {
      "main": [
        [
          {
            "node": "T4 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T4 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Erro Final": {
      "main": [
        [
          {
            "node": "Preparar SQL Revisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar SQL Revisao": {
      "main": [
        [
          {
            "node": "Salvar Revisao Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Revisao Manual": {
      "main": [
        [
          {
            "node": "Resposta Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificação de dados": {
      "main": [
        [
          {
            "node": "Dados Completos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Buscar1": {
      "main": [
        [
          {
            "node": "Montar SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar SQL1": {
      "main": [
        [
          {
            "node": "Buscar no Banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Banco1": {
      "main": [
        [
          {
            "node": "Montar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Arquivo1": {
      "main": [
        [
          {
            "node": "É PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Resposta": {
      "main": [
        [
          {
            "node": "Tem Erro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Erro?": {
      "main": [
        [
          {
            "node": "Aguardar e Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar e Retry": {
      "main": [
        [
          {
            "node": "Pode Tentar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Tentar?": {
      "main": [
        [
          {
            "node": "GPT Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Chat1": {
      "main": [
        [
          {
            "node": "Preparar Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Chat1": {
      "main": [
        [
          {
            "node": "GPT Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Chat1": {
      "main": [
        [
          {
            "node": "Verificar Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Resultado Busca": {
      "main": [
        [
          {
            "node": "Já Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Telefone1": {
      "main": [
        [
          {
            "node": "Buscar no Banco2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Banco2": {
      "main": [
        [
          {
            "node": "Tratar Resultado Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já Existe?1": {
      "main": [
        [
          {
            "node": "Gerar UPDATE SQL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar INSERT SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar UPDATE SQL1": {
      "main": [
        [
          {
            "node": "Extrair SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar INSERT SQL": {
      "main": [
        [
          {
            "node": "Extrair SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair SQL": {
      "main": [
        [
          {
            "node": "Salvar no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receber Avaliação": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Verificar Candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Candidato": {
      "main": [
        [
          {
            "node": "Tratar Candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Candidato": {
      "main": [
        [
          {
            "node": "Candidato Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidato Existe?": {
      "main": [
        [
          {
            "node": "Salvar Avaliação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Avaliação": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Buscar Avaliações": {
      "main": [
        [
          {
            "node": "Normalizar Telefone e Montar SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Telefone e Montar SQL": {
      "main": [
        [
          {
            "node": "Buscar Avaliações no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Avaliações no Banco": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Sugerir Keywords": {
      "main": [
        [
          {
            "node": "Preparar Requisição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Requisição": {
      "main": [
        [
          {
            "node": "GPT Sugerir Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Sugerir Keywords": {
      "main": [
        [
          {
            "node": "Verificar Resposta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Resposta1": {
      "main": [
        [
          {
            "node": "Tem Erro?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Erro?1": {
      "main": [
        [
          {
            "node": "Aguardar e Retry1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar e Retry1": {
      "main": [
        [
          {
            "node": "Pode Tentar?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Tentar?1": {
      "main": [
        [
          {
            "node": "GPT Sugerir Keywords",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "be849aff0a023d54164b9c3ae1cefcde2038b2e94232341cc094e32d6fa2e5ef"
  }
}