buscar-candidatos.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buscar",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6960,
        -660
      ],
      "id": "b1035db9-cbdd-441d-a9a1-f519b0876cdb",
      "name": "Webhook Buscar",
      "webhookId": "96a37c55-8154-4bac-b0b5-f4534ced1819"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst vaga = body.vaga || '';\nconst cargo = body.cargo || '';\nconst local = body.localizacao || '';\nconst skill = body.habilidade || '';\nconst limite = Math.min(parseInt(body.limite) || 10, 50);\n\nconst esc = s => (s || '').replace(/'/g, \"''\");\n\nconst conditions = [];\nif (cargo) conditions.push(`cargo_pretendido ILIKE '%${esc(cargo)}%'`);\nif (local)  conditions.push(`localizacao ILIKE '%${esc(local)}%'`);\nif (skill)  conditions.push(`habilidades ILIKE '%${esc(skill)}%'`);\n\nconst where = conditions.length ? `WHERE ${conditions.join(' AND ')}` : '';\n\nconst sql = `SELECT COALESCE(json_agg(row_to_json(c)), '[]'::json) AS candidatos FROM (SELECT * FROM candidatos ${where} LIMIT ${limite}) c`;\n\nreturn [{ json: { sql, vaga, limite } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6740,
        -660
      ],
      "id": "56004297-69e0-4e61-928a-8fe860fb7388",
      "name": "Montar SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6520,
        -660
      ],
      "id": "344e67a6-0459-4592-bfa4-a3dad81a5218",
      "name": "Buscar no Banco",
      "credentials": {
        "postgres": {
          "id": "xYdS1NxKJpebw0xh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let candidatos = $json.candidatos;\nif (typeof candidatos === 'string') {\n  try { candidatos = JSON.parse(candidatos); } catch(e) { candidatos = []; }\n}\nif (!Array.isArray(candidatos)) { candidatos = []; }\nreturn [{ json: { candidatos } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6300,
        -660
      ],
      "id": "2850ae84-1ac0-41d9-9d6b-7e9c56d5c647",
      "name": "Normalizar Resultado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.candidatos.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6080,
        -660
      ],
      "id": "b0539e30-d73b-4c08-b88a-0342a9f96853",
      "name": "Tem Candidatos?"
    },
    {
      "parameters": {
        "jsCode": "const candidatos = $json.candidatos;\nconst vaga = $('Montar SQL').first().json.vaga;\n\nconst candidatosStr = candidatos.map((c, i) =>\n  `[${i + 1}] ID:${c.id} | Nome:${c.nome_completo || 'N/A'} | Cargo:${c.cargo_pretendido || 'N/A'} | Habilidades:${c.habilidades || 'N/A'} | Local:${c.localizacao || 'N/A'} | Experiencia:${(c.experiencia_resumida || '').substring(0, 150)}`\n).join('\\n');\n\nreturn [{ json: {\n  vaga,\n  candidatos_str: candidatosStr,\n  candidatos_json: JSON.stringify(candidatos)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5860,
        -780
      ],
      "id": "cc240026-44ca-48ed-b971-db2bc6d9e7fa",
      "name": "Preparar para IA"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { candidatos: [] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5860,
        -540
      ],
      "id": "b2199509-bf20-4de5-a54b-f0f02621398f",
      "name": "Resposta Vazia"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e especialista em recrutamento e selecao de talentos. Analise os candidatos abaixo e ranqueie-os para a vaga descrita.\n\nVAGA DESEJADA:\n{{ $json.vaga }}\n\nCANDIDATOS DISPONIVEIS:\n{{ $json.candidatos_str }}\n\nRetorne SOMENTE um array JSON valido, sem texto adicional, sem blocos de codigo markdown:\n[\n  {\"indice\": 1, \"score\": 0.95, \"justificativa\": \"Experiencia solida e alinhada com a vaga.\"},\n  {\"indice\": 2, \"score\": 0.70, \"justificativa\": \"Bom perfil mas faltam algumas habilidades.\"}\n]\n\nRegras:\n- score: numero de 0 a 1 (1.0 = candidato perfeito para a vaga)\n- justificativa: 1-2 frases em portugues explicando a compatibilidade\n- Inclua TODOS os candidatos listados, mesmo os menos adequados\n- Ordene do score mais alto ao mais baixo\n- Retorne APENAS o JSON, absolutamente nada mais"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -5640,
        -780
      ],
      "id": "4e4c7315-ebaa-4c30-a43c-369b03f2fd5d",
      "name": "Ranquear com GPT",
      "credentials": {
        "openAiApi": {
          "id": "SuXAI1qhimy7ZqAO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content =\n  $json.content ||\n  ($json.message && $json.message.content) ||\n  ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ||\n  '[]';\n\nconst raw = content.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nlet rankings;\ntry {\n  rankings = JSON.parse(raw);\n} catch (e) {\n  throw new Error('IA retornou JSON invalido: ' + raw.substring(0, 200));\n}\n\nconst candidatos = JSON.parse($('Preparar para IA').first().json.candidatos_json);\n\nconst resultado = rankings.map(r => {\n  const c = candidatos[r.indice - 1];\n  if (!c) return null;\n  return Object.assign({}, c, { score: r.score, justificativa: r.justificativa });\n}).filter(Boolean);\n\nreturn [{ json: { candidatos: resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5220,
        -780
      ],
      "id": "adfeebcd-d923-43df-937c-f85bce357845",
      "name": "Montar Resposta Final"
    }
  ],
  "connections": {
    "Webhook Buscar": {
      "main": [
        [
          {
            "node": "Montar SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar SQL": {
      "main": [
        [
          {
            "node": "Buscar no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Banco": {
      "main": [
        [
          {
            "node": "Normalizar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Resultado": {
      "main": [
        [
          {
            "node": "Tem Candidatos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Candidatos?": {
      "main": [
        [
          {
            "node": "Preparar para IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Vazia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para IA": {
      "main": [
        [
          {
            "node": "Ranquear com GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ranquear com GPT": {
      "main": [
        [
          {
            "node": "Montar Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c87b76396f56eba8c5bd2072ddb33a4830148466ed7e057bce91424bc992759"
  }
}