chat-candidatos .json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Verifica se a resposta da IA é válida\nconst content =\n  $json.content ||\n  ($json.message && $json.message.content) ||\n  ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ||\n  null;\n\n// Recupera contexto do nó Preparar Chat\nconst ctx = $('Preparar Chat1').first().json;\n\nif (!content) {\n  // Sem conteúdo válido — trata como erro\n  return [{\n    json: {\n      erro: true,\n      mensagem: ctx.mensagem,\n      candidatosStr: ctx.candidatosStr,\n      historicoFormatado: ctx.historicoFormatado,\n      tentativa: ctx.tentativa,\n      maxTentativas: ctx.maxTentativas\n    }\n  }];\n}\n\n// Sucesso — monta resposta final\nconst historicoAtualizado = [\n  ...ctx.historicoFormatado,\n  { role: 'user', content: ctx.mensagem },\n  { role: 'assistant', content: content }\n];\n\nreturn [{ json: {\n  erro: false,\n  resposta: content,\n  historico: historicoAtualizado\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -1060
      ],
      "id": "e61f6e58-cb3d-43ca-b2e4-e46e3ff77887",
      "name": "Verificar Resposta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-erro",
              "leftValue": "={{ $json.erro }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1160,
        -1060
      ],
      "id": "51cda21c-894a-4f5e-be6b-abfdde934987",
      "name": "Tem Erro?"
    },
    {
      "parameters": {
        "jsCode": "// Verifica se ainda há tentativas disponíveis\nconst tentativa = $json.tentativa || 1;\nconst maxTentativas = $json.maxTentativas || 3;\n\nif (tentativa >= maxTentativas) {\n  // Esgotou todas as tentativas\n  return [{ json: {\n    podetentar: false,\n    tentativa,\n    maxTentativas,\n    mensagem: $json.mensagem,\n    candidatosStr: $json.candidatosStr,\n    historicoFormatado: $json.historicoFormatado\n  }}];\n}\n\n// Ainda pode tentar: aguarda 5 segundos\nawait new Promise(resolve => setTimeout(resolve, 5000));\n\n// Incrementa tentativa e repassa o contexto\nreturn [{ json: {\n  podetentar: true,\n  tentativa: tentativa + 1,\n  maxTentativas,\n  mensagem: $json.mensagem,\n  candidatosStr: $json.candidatosStr,\n  historicoFormatado: $json.historicoFormatado\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        -1180
      ],
      "id": "8e84176b-b56d-4ff5-9c58-c36af51a3f33",
      "name": "Aguardar e Retry"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-pode",
              "leftValue": "={{ $json.podetentar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        -1180
      ],
      "id": "2118ab0c-b505-4331-a5d7-ac676b8801c6",
      "name": "Pode Tentar?"
    },
    {
      "parameters": {
        "jsCode": "// Todas as tentativas falharam — retorna erro amigável\nreturn [{ json: {\n  resposta: null,\n  erro: true,\n  mensagem: 'Não foi possível obter resposta da IA após 3 tentativas. Tente novamente em instantes.',\n  historico: $json.historicoFormatado || []\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        -1040
      ],
      "id": "384464bf-fa45-462a-bebb-cadca6ee523b",
      "name": "Erro Final"
    },
    {
      "parameters": {
        "jsCode": "// Resposta de sucesso — limpa campos internos e retorna apenas o necessário\nreturn [{ json: {\n  resposta: $json.resposta,\n  historico: $json.historico\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        -900
      ],
      "id": "f06b7b91-619b-47a2-9024-513f11b6afb4",
      "name": "Resposta OK"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2200,
        -1060
      ],
      "id": "dd9de5c0-800f-434a-a99d-8c4cab9ca8cb",
      "name": "Webhook Chat1",
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst mensagem = (body.mensagem || '').trim();\nconst candidatos = Array.isArray(body.candidatos) ? body.candidatos : [];\nconst historico = Array.isArray(body.historico) ? body.historico : [];\n\nif (!mensagem) {\n  throw new Error('Campo \"mensagem\" é obrigatório.');\n}\n\nconst candidatosStr = candidatos.length\n  ? candidatos.map((c, i) =>\n      `[Candidato ${i + 1}]\\n` +\n      `  Nome: ${c.nome_completo || 'N/A'}\\n` +\n      `  Telefone: ${c.telefone || 'N/A'}\\n` +\n      `  Cargo pretendido: ${c.cargo_pretendido || 'N/A'}\\n` +\n      `  Habilidades: ${c.habilidades || 'N/A'}\\n` +\n      `  Localização: ${c.localizacao || 'N/A'}\\n` +\n      `  Resumo: ${(c.experiencia_resumida || '').substring(0, 300)}`\n    ).join('\\n\\n')\n  : 'Nenhum candidato fornecido.';\n\nconst historicoFormatado = historico\n  .filter(h => h.role && h.content)\n  .map(h => ({ role: h.role, content: String(h.content) }));\n\n// Inicializa contador de tentativas\nreturn [{ json: {\n  mensagem,\n  candidatosStr,\n  historicoFormatado,\n  totalCandidatos: candidatos.length,\n  tentativa: 1,\n  maxTentativas: 3\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1980,
        -1060
      ],
      "id": "fa5d47e3-b370-4b80-be87-1c865a294713",
      "name": "Preparar Chat1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especialista em recrutamento e seleção de talentos.\n\nVocê tem acesso aos seguintes candidatos que foram pré-selecionados:\n\n{{ $json.candidatosStr }}\n\nSua função é responder perguntas sobre esses candidatos de forma clara e objetiva.\nPode comparar candidatos, destacar habilidades, recomendar o mais adequado para uma vaga, apontar pontos fortes e fracos.\nResponda sempre em português, de forma profissional e direta.\nSe não houver candidatos, informe educadamente.",
              "role": "system"
            },
            {
              "content": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1740,
        -920
      ],
      "id": "47b86c70-bc2e-4104-bd56-8cb7d54da8a5",
      "name": "GPT Chat1",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Verificar Resposta": {
      "main": [
        [
          {
            "node": "Tem Erro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Erro?": {
      "main": [
        [
          {
            "node": "Aguardar e Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar e Retry": {
      "main": [
        [
          {
            "node": "Pode Tentar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Tentar?": {
      "main": [
        [
          {
            "node": "GPT Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Chat1": {
      "main": [
        [
          {
            "node": "Preparar Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Chat1": {
      "main": [
        [
          {
            "node": "GPT Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Chat1": {
      "main": [
        [
          {
            "node": "Verificar Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17dd8513543fcd007fcbf2cc7b308d8668611290d926c6048b7fe95ea7af77ef"
  }
}