envio-curriculo.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2140,
        560
      ],
      "id": "2ca501fd-8cec-4384-8b19-1e9d7135fa69",
      "name": "Webhook",
      "webhookId": "f5deb7e0-2d86-4877-8577-d441938168b4"
    },
    {
      "parameters": {
        "command": "rm -f /tmp/upload* 2>/dev/null; echo 'limpeza ok'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1920,
        560
      ],
      "id": "67c55d4d-a061-49f6-bb97-eb79fda72d62",
      "name": "Limpar Temp"
    },
    {
      "parameters": {
        "jsCode": "// FIX: Execute Command descarta o binário do Webhook.\n// Recupera o binário original para o próximo nó poder salvar o arquivo.\nconst webhookItem = $('Webhook').first();\nreturn [{\n  json: webhookItem.json,\n  binary: webhookItem.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1700,
        560
      ],
      "id": "088a8c81-0975-4082-8901-66418aa0a175",
      "name": "Restaurar Binário"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18c96931-712a-4d38-af50-9e43741ca773",
              "leftValue": "={{$binary.data0.fileExtension}}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1220,
        560
      ],
      "id": "a5030451-d12c-4c7a-9255-3d0c2b258735",
      "name": "É PDF?"
    },
    {
      "parameters": {
        "command": "=python3 -c \"\nfrom pdf2image import convert_from_path\nimport pytesseract\nimport json\nimport sys\n\narquivo = '/tmp/upload.pdf'\ntexto = ''\n\ntry:\n    paginas = convert_from_path(arquivo, dpi=300)\n    for pagina in paginas:\n        pagina = pagina.convert('L')\n        texto_pagina = pytesseract.image_to_string(\n            pagina,\n            lang='por',\n            config='--oem 3 --psm 4'\n        )\n        texto += texto_pagina + '\\\\n'\n    print(json.dumps({'texto': texto}, ensure_ascii=False))\nexcept Exception as e:\n    print(json.dumps({'erro': str(e)}, ensure_ascii=False))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1000,
        440
      ],
      "id": "0ab1c83d-e481-4156-b3f6-0feda95e9dec",
      "name": "OCR PDF"
    },
    {
      "parameters": {
        "command": "=python3 -c \"\nimport os\nimport json\nimport sys\nfrom PIL import Image\nimport pytesseract\n\nextensao = '{{$binary.data0.fileExtension}}'\narquivo = f'/tmp/upload.{extensao}'\n\nif not os.path.exists(arquivo):\n    print(json.dumps({'erro': 'arquivo nao encontrado: ' + arquivo}))\n    sys.exit(1)\n\ntry:\n    img = Image.open(arquivo).convert('L')\n    img = img.point(lambda x: 0 if x < 160 else 255, '1')\n\n    texto = pytesseract.image_to_string(img, lang='por', config='--oem 3 --psm 4')\n\n    if len(texto.strip()) < 50:\n        img2 = Image.open(arquivo).convert('L')\n        texto = pytesseract.image_to_string(img2, lang='por', config='--oem 3 --psm 6')\n\n    print(json.dumps({'texto': texto}, ensure_ascii=False))\nexcept Exception as e:\n    print(json.dumps({'erro': str(e)}, ensure_ascii=False))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1000,
        680
      ],
      "id": "e6d714aa-622c-4e99-8c8d-daae606ae05a",
      "name": "OCR Imagem"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout;\n\nif (!raw) {\n  throw new Error('Nenhum stdout recebido do OCR');\n}\n\nconst data = JSON.parse(raw);\n\nif (data.erro) {\n  throw new Error('Erro no OCR: ' + data.erro);\n}\n\nreturn [{ json: { texto: data.texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        560
      ],
      "id": "6193cecc-ab84-4b57-adcb-7e3ad30341ca",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "jsCode": "let texto = $json.texto || '';\n\n// Junta palavras quebradas no fim da linha com hífen\ntexto = texto.replace(/-\\n/g, '');\n\n// Remove quebras de linha duplicadas\ntexto = texto.replace(/\\n{2,}/g, '\\n');\n\n// Remove espaços e tabs duplicados\ntexto = texto.replace(/[ \\t]+/g, ' ');\n\n// Remove linhas com apenas lixo (menos de 3 chars não-alfanuméricos)\ntexto = texto.replace(/\\n[^\\wÀ-ÿ]{1,3}\\n/g, '\\n');\n\n// Trim geral\ntexto = texto.trim();\n\nreturn [{ json: { texto_limpo: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        560
      ],
      "id": "3d073917-b360-431a-8f43-4bfb6a109d9a",
      "name": "Limpar Texto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "campos-ok-check",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "aprovado\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        560
      ],
      "id": "1307e711-d1b7-48d4-8122-b49bec27a516",
      "name": "Dados Completos?"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "inputType": "base64",
        "binaryPropertyName": "={{$binary.data0.fileExtension}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        600,
        720
      ],
      "id": "3fcf2efe-0435-473c-8ea4-c219c18a360f",
      "name": "OpenAI Fix T1",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Validar Campos Iniciais').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 1;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        960
      ],
      "id": "6ddbe81e-c9cd-4efc-91d6-bd37a0d9442f",
      "name": "Parse Validar T1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t1-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        720
      ],
      "id": "f7048528-ec22-4b0a-8a5a-33acbeb8d28a",
      "name": "T1 OK?"
    },
    {
      "parameters": {
        "jsCode": "var dados = $json.dados_extraidos || {};\nvar logs = ($json.logs || []).slice();\nvar ts = new Date().toISOString();\nvar sq = String.fromCharCode(39);\nvar escape = function(v) { return String(v).split(sq).join(sq + sq); };\n\nvar campos = [];\nvar valores = [];\n\nif (dados.nome_completo) { campos.push('nome_completo'); valores.push(sq + escape(dados.nome_completo) + sq); }\nif (dados.cargo_pretendido) { campos.push('cargo_pretendido'); valores.push(sq + escape(dados.cargo_pretendido) + sq); }\nif (dados.habilidades) { campos.push('habilidades'); valores.push(sq + escape(dados.habilidades) + sq); }\nif (dados.experiencia_resumida) { campos.push('experiencia_resumida'); valores.push(sq + escape(dados.experiencia_resumida) + sq); }\nif (dados.email) { campos.push('email'); valores.push(sq + escape(dados.email) + sq); }\nif (dados.telefone) { campos.push('telefone'); valores.push(sq + escape(dados.telefone) + sq); }\nif (dados.localizacao) { campos.push('localizacao'); valores.push(sq + escape(dados.localizacao) + sq); }\n\nvar sql = 'INSERT INTO candidatos (' + campos.join(', ') + ') VALUES (' + valores.join(', ') + ');';\n\nlogs.push('[' + ts + '][SUCESSO] INSERT SQL montado via IA com ' + campos.length + ' campos (tentativa ' + ($json.tentativa || '?') + ')');\n\nreturn [{ json: {\n  sql_insert: sql,\n  dados_extraidos: dados,\n  logs: logs,\n  tentativa: $json.tentativa || 0,\n  status: 'pronto_para_salvar'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        560
      ],
      "id": "3d3caaeb-7e2e-4be4-8f4b-a17cbf3595ed",
      "name": "Montar INSERT SQL IA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_insert }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1920,
        560
      ],
      "id": "e03cfdaa-8e85-47d8-b665-2cdd64560036",
      "name": "Salvar no Banco IA",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var logs = ($json.logs || []).slice();\nvar ts = new Date().toISOString();\nlogs.push('[' + ts + '][SUCESSO] Candidato salvo no banco de dados via IA (tentativa ' + ($json.tentativa || '?') + ')');\nreturn [{ json: {\n  status: 'sucesso',\n  metodo: 'ia',\n  tentativa: $json.tentativa || 0,\n  mensagem: 'Candidato processado pela IA e salvo com sucesso',\n  log_completo: logs.join('\\n'),\n  timestamp: ts\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        560
      ],
      "id": "ba3302be-ca98-4367-aa13-06617581f8eb",
      "name": "Resposta Sucesso IA"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1260,
        720
      ],
      "id": "c12800bf-4c9d-4ea1-aeb5-51a3aaa710fb",
      "name": "Wait 5s",
      "webhookId": "aa000010-0000-4000-a000-000000000010"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1480,
        720
      ],
      "id": "8e158921-53d7-4d32-8b0a-0a4e8d08b890",
      "name": "OpenAI Fix T2",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 5s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 2;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1160
      ],
      "id": "9ec6ea66-ddd3-4796-bc49-aacd2b3be75f",
      "name": "Parse Validar T2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t2-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        720
      ],
      "id": "521ca50f-fa41-4638-9682-e9e0f580945d",
      "name": "T2 OK?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2140,
        720
      ],
      "id": "32c5e509-3372-4b64-b1ec-a1a71715a558",
      "name": "Wait 15s",
      "webhookId": "aa000014-0000-4000-a000-000000000014"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2360,
        720
      ],
      "id": "356095dd-72e4-4182-816c-ff8b63e4f9ab",
      "name": "OpenAI Fix T3",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 15s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 3;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        1020
      ],
      "id": "7c2fc647-7bfd-4593-a24a-fb2390510186",
      "name": "Parse Validar T3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t3-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        720
      ],
      "id": "7f41d43b-14c1-4b82-82f6-109ede0a467c",
      "name": "T3 OK?"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3020,
        720
      ],
      "id": "54370c9e-cb74-4059-a6e4-335d2ab2c80b",
      "name": "Wait 30s",
      "webhookId": "aa000018-0000-4000-a000-000000000018"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voce e um especialista em extracao de dados de curriculos, incluindo textos com erros de OCR.\n\nAnalise o texto abaixo com atencao especial aos CAMPOS OBRIGATORIOS. Seja criativo e tolerante com erros de leitura.\n\nCAMPOS OBRIGATORIOS (extraia se existirem, mesmo com grafia imperfeita):\n- nome_completo: Nome completo do candidato\n- telefone: Numero de telefone (qualquer formato)\n\nCAMPOS OPCIONAIS:\n- cargo_pretendido\n- habilidades\n- experiencia_resumida\n- email\n- localizacao\n\nTEXTO DO CURRICULO:\n{{ $json.texto_limpo }}\n\nRetorne APENAS um JSON valido, sem texto adicional, sem markdown:\n{\"nome_completo\": \"...\", \"telefone\": \"...\", \"cargo_pretendido\": \"...\", \"habilidades\": \"...\", \"experiencia_resumida\": \"...\", \"email\": \"...\", \"localizacao\": \"...\"}\n\nSe um campo nao existir no texto, use null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3240,
        720
      ],
      "id": "04459465-7a91-43f7-962a-0325fa393661",
      "name": "OpenAI Fix T4 Final",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var textoLimpo = $('Validar Campos Iniciais').first().json.texto_limpo;\nvar logsAnterior = $('Wait 30s').first().json.logs || [];\nvar logs = logsAnterior.slice();\nvar tentativa = 4;\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][T' + tentativa + '] Processando resposta da OpenAI (tentativa ' + tentativa + ' de 4)');\n\n// Verificar se o no falhou (continueOnFail)\nif ($json.error) {\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha na API OpenAI: ' + JSON.stringify($json.error));\n  return [{ json: {\n    texto_limpo: textoLimpo,\n    dados_extraidos: {},\n    campos_ok: false,\n    erro: String($json.error),\n    tentativa: tentativa,\n    retry_count: tentativa,\n    logs: logs\n  } }];\n}\n\n// Extrair conteudo da resposta (multiplos formatos possiveis)\nvar content = '';\nif ($json.content) content = $json.content;\nelse if ($json.message && $json.message.content) content = $json.message.content;\nelse if ($json.choices && $json.choices[0] && $json.choices[0].message) content = $json.choices[0].message.content;\nelse if ($json.text) content = $json.text;\n\nlogs.push('[' + ts + '][T' + tentativa + '] Conteudo recebido: ' + content.length + ' chars');\n\n// Parse do JSON retornado pela IA\nvar dadosIA = {};\nvar erro_parse = null;\ntry {\n  var limpo = content.trim();\n  limpo = limpo.replace(/```json/g, '').replace(/```/g, '').trim();\n  dadosIA = JSON.parse(limpo);\n  logs.push('[' + ts + '][T' + tentativa + '][OK] JSON da IA parseado com sucesso');\n} catch(e) {\n  erro_parse = e.message;\n  logs.push('[' + ts + '][T' + tentativa + '][ERRO] Falha ao parsear JSON: ' + e.message);\n  logs.push('[' + ts + '][T' + tentativa + '][DEBUG] Resposta bruta: ' + content.substring(0, 300));\n}\n\n// Validar campos obrigatorios\nvar nomeOk = !!(dadosIA.nome_completo && dadosIA.nome_completo !== 'null' && String(dadosIA.nome_completo).trim().length > 2);\nvar telOk = !!(dadosIA.telefone && dadosIA.telefone !== 'null' && String(dadosIA.telefone).trim().length > 5);\nvar campos_ok = nomeOk && telOk && !erro_parse;\n\nif (nomeOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Nome: ' + dadosIA.nome_completo);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Nome ausente ou invalido');\n\nif (telOk) logs.push('[' + ts + '][T' + tentativa + '][OK] Telefone: ' + dadosIA.telefone);\nelse logs.push('[' + ts + '][T' + tentativa + '][AVISO] Telefone ausente ou invalido');\n\nlogs.push('[' + ts + '][T' + tentativa + '] Status: ' + (campos_ok ? 'DADOS COMPLETOS' : 'DADOS INCOMPLETOS'));\n\nreturn [{ json: {\n  texto_limpo: textoLimpo,\n  dados_extraidos: dadosIA,\n  campos_ok: campos_ok,\n  erro_parse: erro_parse,\n  tentativa: tentativa,\n  retry_count: tentativa,\n  logs: logs\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3480,
        1060
      ],
      "id": "392f1a40-3d6d-4765-be07-af8a401e31f5",
      "name": "Parse Validar T4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "t4-ok-cond",
              "leftValue": "={{ $json.campos_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3680,
        720
      ],
      "id": "c0d3290b-4d68-4f5c-8b2c-ecb44d198d35",
      "name": "T4 OK?"
    },
    {
      "parameters": {
        "jsCode": "var logs = ($json.logs || []).slice();\nvar tentativa = $json.tentativa || $json.retry_count || 0;\nvar textoLimpo = $json.texto_limpo || '';\nvar ts = new Date().toISOString();\n\nlogs.push('[' + ts + '][ERRO FINAL] Todas as ' + tentativa + ' tentativas de extracao via IA falharam');\nlogs.push('[' + ts + '][ERRO FINAL] Campos obrigatorios (nome e/ou telefone) nao puderam ser extraidos');\nlogs.push('[' + ts + '][ERRO FINAL] Arquivo encaminhado para fila de revisao manual');\n\nvar motivo = 'Extracao falhou apos ' + tentativa + ' tentativas: campos obrigatorios ausentes (nome e/ou telefone)';\n\nreturn [{ json: {\n  status: 'revisao_manual',\n  motivo_erro: motivo,\n  tentativas_realizadas: tentativa,\n  texto_trecho: textoLimpo.substring(0, 1000),\n  log_completo: logs.join('\\n'),\n  timestamp: ts\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        720
      ],
      "id": "46c08f46-0e02-471b-8a12-d1d03babe136",
      "name": "Log Erro Final"
    },
    {
      "parameters": {
        "jsCode": "var sq = String.fromCharCode(39);\nvar escape = function(v) { return String(v).split(sq).join(sq + sq); };\n\nvar texto = escape(($json.texto_trecho || '').substring(0, 1000));\nvar motivo = escape($json.motivo_erro || 'Erro desconhecido');\nvar logTxt = escape(($json.log_completo || '').substring(0, 5000));\nvar tentativas = parseInt($json.tentativas_realizadas || 0);\n\nvar sql = 'INSERT INTO revisao_manual (texto_trecho, motivo_erro, log_completo, tentativas_realizadas, criado_em) VALUES (' + sq + texto + sq + ', ' + sq + motivo + sq + ', ' + sq + logTxt + sq + ', ' + tentativas + ', NOW());';\n\nreturn [{ json: {\n  sql_revisao: sql,\n  motivo_erro: $json.motivo_erro,\n  log_completo: $json.log_completo,\n  tentativas: tentativas\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4120,
        720
      ],
      "id": "10fabb76-f6fe-4cd0-af93-11ea7f9146ea",
      "name": "Preparar SQL Revisao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_revisao }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4340,
        720
      ],
      "id": "66653464-315a-4e65-9a64-f3187a33818d",
      "name": "Salvar Revisao Manual",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  status: 'erro',\n  mensagem: $json.motivo_erro || 'Falha no processamento',\n  tentativas_realizadas: $json.tentativas,\n  log_completo: $json.log_completo,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        720
      ],
      "id": "24182ec3-2ff6-43a3-8aab-b8fb8c565e99",
      "name": "Resposta Erro Final"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um validador de currículos.\n\nAnalise o texto abaixo e verifique se ele contém:\n\n1. Nome completo da pessoa (nome e sobrenome identificáveis).\n2. Telefone de contato válido (aceite formatos nacionais e internacionais, com ou sem DDD, parênteses, espaços, hífens ou código do país).\n\nTexto do currículo:\n{{ $json.texto_limpo }}\n\nRegras de validação:\n- Considere aprovado somente se os dois itens estiverem presentes.\n- Se houver apenas nome ou apenas telefone, considere reprovado.\n- Se houver dúvida sobre a existência de um nome completo, considere reprovado.\n- Ignore e-mails, endereços, links e outras informações que não sejam nome e telefone.\n\nRetorne exclusivamente um JSON válido, sem explicações, comentários ou texto adicional:\n\nSe aprovado:\n{\"aprovado\": true}\n\nSe reprovado:\n{\"aprovado\": false}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        40,
        560
      ],
      "id": "3647d45e-fc8a-48f5-ae89-f335cc2288f1",
      "name": "Verificação de dados",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/upload.{{$binary.data0.fileExtension}}",
        "dataPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1480,
        560
      ],
      "id": "2b19b1a0-f76d-4f54-a09f-4f587f035cde",
      "name": "Salvar Arquivo1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json || !items[0].json.telefone) {\n  return [{ json: { existe: false, telefone: $('Extrair Telefone1').item.json.telefone } }];\n}\n\nconst telefoneFormatado = items[0].json.telefone;\n\nreturn [{ json: { existe: true, telefone: telefoneFormatado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "id": "0b4c215f-ea8c-4e6f-98f3-ae42de183ae5",
      "name": "Tratar Resultado Busca"
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Limpar Texto').item.json.texto_limpo || '';\n\nconst regex = /(\\(?\\d{2}\\)?)\\s?[9]?\\d{4}[-\\s]?\\d{4}/g;\nconst matches = texto.match(regex);\n\nif (!matches || matches.length === 0) {\n  throw new Error('Nenhum telefone encontrado no currículo.');\n}\n\nconst telefone = matches[0].replace(/\\D/g, '');\n\nreturn [{ json: { telefone, texto_limpo: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        400
      ],
      "id": "407e8769-bd80-429e-bd55-264aa172b9a9",
      "name": "Extrair Telefone1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT telefone FROM candidatos WHERE REGEXP_REPLACE(telefone, '[^0-9]', '', 'g') = '{{ $json.telefone }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        300
      ],
      "id": "08a9ea99-51e9-48f6-a522-37310c6ef288",
      "name": "Buscar no Banco2",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "registro-existe",
              "leftValue": "={{ $json.existe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        300
      ],
      "id": "80862fa0-0d76-4657-8ee8-0dccde368dc3",
      "name": "Já Existe?1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especializado em extrair dados estruturados de currículos e gerar comandos SQL.\n\nTexto do currículo:\n{{ $('Limpar Texto').item.json.texto_limpo }}\n\nTelefone (chave primária já existente, use exatamente este valor no WHERE): {{ $('Tratar Resultado Busca').item.json.telefone }}\n\nGere um comando SQL UPDATE para a tabela \"candidatos\" com as seguintes regras:\n\n1. Mapeie os campos encontrados no texto:\n   - Nome completo → nome_completo\n   - Cargo pretendido / área de atuação → cargo_pretendido\n   - Habilidades / tecnologias / ferramentas → habilidades\n   - Cidade / estado → localizacao\n   - E-mail → email\n   - Nome do arquivo → nome_arquivo\n   - Texto completo → texto_curriculo\n\n2. Inclua APENAS os campos que estiverem presentes no texto\n3. Escape aspas simples duplicando-as (ex: O'Brien → O''Brien)\n4. Use o telefone fornecido no WHERE sem modificações\n5. Retorne SOMENTE o comando SQL, sem explicações, sem blocos de código markdown\n\nFormato esperado:\nUPDATE candidatos SET campo1 = 'valor1', campo2 = 'valor2' WHERE telefone = 'numero';"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1420,
        200
      ],
      "id": "70bfe17b-7753-4933-bd93-63f13a388659",
      "name": "Gerar UPDATE SQL1",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especializado em extrair dados estruturados de currículos e gerar comandos SQL.\n\nTexto do currículo:\n{{ $('Limpar Texto').item.json.texto_limpo }}\n\nGere um comando SQL INSERT para a tabela \"candidatos\" com as seguintes regras:\n\n1. Mapeie os campos encontrados no texto:\n   - Nome completo → nome_completo\n   - Cargo pretendido / área de atuação → cargo_pretendido\n   - Habilidades / tecnologias / ferramentas → habilidades\n   - Resumo de experiências → texto_curriculo\n   - E-mail → email\n   - Telefone → telefone\n   - Cidade / estado → localizacao\n\n2. Inclua APENAS os campos que estiverem presentes no texto\n3. Escape aspas simples duplicando-as (ex: O'Brien → O''Brien)\n4. Retorne SOMENTE o comando SQL, sem explicações, sem blocos de código markdown\n\n5. Estrutura da tabela:\ntelefone VARCHAR(50) PRIMARY KEY,\nnome_completo VARCHAR(255) NOT NULL,\ncargo_pretendido VARCHAR(255),\nhabilidades TEXT,\nlocalizacao VARCHAR(255),\nemail VARCHAR(255),\nnome_arquivo VARCHAR(255),\ntexto_curriculo TEXT\n\nFormato esperado:\nINSERT INTO candidatos (campo1, campo2, campo3)\nVALUES ('valor1', 'valor2', 'valor3');"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1420,
        380
      ],
      "id": "31a38577-f1a3-4a93-8ab5-8355503ba54c",
      "name": "Gerar INSERT SQL",
      "credentials": {
        "openAiApi": {
          "id": "PnKMlSiSgiq3YqKI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content =\n  $json.content ||\n  $json.message?.content ||\n  $json.choices?.[0]?.message?.content ||\n  $json.text ||\n  '';\n\nif (!content) {\n  throw new Error(\n    'Não foi possível extrair o SQL da resposta da IA.\\nJSON recebido: ' +\n    JSON.stringify($json, null, 2)\n  );\n}\n\nlet sql = content.trim();\nsql = sql.replace(/```sql\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nconst upperSql = sql.toUpperCase();\nif (!upperSql.startsWith('INSERT') && !upperSql.startsWith('UPDATE')) {\n  throw new Error('A IA não retornou um INSERT ou UPDATE válido.\\nResposta: ' + sql);\n}\n\nreturn [{ json: { sql_insert: sql } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        280
      ],
      "id": "affc9853-db20-4786-81c1-e6da3265b8a2",
      "name": "Extrair SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_insert }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2140,
        280
      ],
      "id": "43ff5e95-32e8-4d24-acc0-d8af4adc05a9",
      "name": "Salvar no Banco",
      "credentials": {
        "postgres": {
          "id": "t6nrrjZHceBz1qJ5",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Limpar Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Temp": {
      "main": [
        [
          {
            "node": "Restaurar Binário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Binário": {
      "main": [
        [
          {
            "node": "Salvar Arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É PDF?": {
      "main": [
        [
          {
            "node": "OCR PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR PDF": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Imagem": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Limpar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Texto": {
      "main": [
        [
          {
            "node": "Verificação de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Completos?": {
      "main": [
        [
          {
            "node": "Extrair Telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Fix T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T1": {
      "main": [
        [
          {
            "node": "Parse Validar T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T1": {
      "main": [
        [
          {
            "node": "T1 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar INSERT SQL IA": {
      "main": [
        [
          {
            "node": "Salvar no Banco IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Banco IA": {
      "main": [
        [
          {
            "node": "Resposta Sucesso IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T2": {
      "main": [
        [
          {
            "node": "Parse Validar T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T2": {
      "main": [
        [
          {
            "node": "T2 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T2 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T3": {
      "main": [
        [
          {
            "node": "Parse Validar T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T3": {
      "main": [
        [
          {
            "node": "T3 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T3 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "OpenAI Fix T4 Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fix T4 Final": {
      "main": [
        [
          {
            "node": "Parse Validar T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validar T4": {
      "main": [
        [
          {
            "node": "T4 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T4 OK?": {
      "main": [
        [
          {
            "node": "Montar INSERT SQL IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Erro Final": {
      "main": [
        [
          {
            "node": "Preparar SQL Revisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar SQL Revisao": {
      "main": [
        [
          {
            "node": "Salvar Revisao Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Revisao Manual": {
      "main": [
        [
          {
            "node": "Resposta Erro Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificação de dados": {
      "main": [
        [
          {
            "node": "Dados Completos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Arquivo1": {
      "main": [
        [
          {
            "node": "É PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Resultado Busca": {
      "main": [
        [
          {
            "node": "Já Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Telefone1": {
      "main": [
        [
          {
            "node": "Buscar no Banco2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Banco2": {
      "main": [
        [
          {
            "node": "Tratar Resultado Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já Existe?1": {
      "main": [
        [
          {
            "node": "Gerar UPDATE SQL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar INSERT SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar UPDATE SQL1": {
      "main": [
        [
          {
            "node": "Extrair SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar INSERT SQL": {
      "main": [
        [
          {
            "node": "Extrair SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair SQL": {
      "main": [
        [
          {
            "node": "Salvar no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17dd8513543fcd007fcbf2cc7b308d8668611290d926c6048b7fe95ea7af77ef"
  }
}