novoworkflow.json
{
  "name": "Upload e INSERT SQL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "fc0b0bb6-9600-4022-ac90-a817399882d8",
      "name": "Webhook",
      "webhookId": "f5deb7e0-2d86-4877-8577-d441938168b4"
    },
    {
      "parameters": {
        "command": "rm -f /tmp/upload* 2>/dev/null; echo 'limpeza ok'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "df996a66-2f58-4c56-ad44-bc3d280d7c4f",
      "name": "Limpar Temp"
    },
    {
      "parameters": {
        "jsCode": "// FIX: Execute Command descarta o binário do Webhook.\n// Recupera o binário original para o próximo nó poder salvar o arquivo.\nconst webhookItem = $('Webhook').first();\nreturn [{\n  json: webhookItem.json,\n  binary: webhookItem.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Restaurar Binário"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/upload.{{$binary.data0.fileExtension}}",
        "dataPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [660, 0],
      "id": "1b3af41b-5053-4b6b-9a20-2b0857111bef",
      "name": "Salvar Arquivo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18c96931-712a-4d38-af50-9e43741ca773",
              "leftValue": "={{$binary.data0.fileExtension}}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 0],
      "id": "c788a689-2c0a-4caa-8154-e1b3806fd886",
      "name": "É PDF?"
    },
    {
      "parameters": {
        "command": "python3 -c \"\nfrom pdf2image import convert_from_path\nimport pytesseract\nimport json\nimport sys\n\narquivo = '/tmp/upload.pdf'\ntexto = ''\n\ntry:\n    paginas = convert_from_path(arquivo, dpi=300)\n    for pagina in paginas:\n        pagina = pagina.convert('L')\n        texto_pagina = pytesseract.image_to_string(\n            pagina,\n            lang='por',\n            config='--oem 3 --psm 4'\n        )\n        texto += texto_pagina + '\\\\n'\n    print(json.dumps({'texto': texto}, ensure_ascii=False))\nexcept Exception as e:\n    print(json.dumps({'erro': str(e)}, ensure_ascii=False))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1100, -120],
      "id": "f2b6ef31-f23d-4813-b0c6-8b83a164be9a",
      "name": "OCR PDF"
    },
    {
      "parameters": {
        "command": "=python3 -c \"\nimport os\nimport json\nimport sys\nfrom PIL import Image\nimport pytesseract\n\nextensao = '{{$binary.data0.fileExtension}}'\narquivo = f'/tmp/upload.{extensao}'\n\nif not os.path.exists(arquivo):\n    print(json.dumps({'erro': 'arquivo nao encontrado: ' + arquivo}))\n    sys.exit(1)\n\ntry:\n    img = Image.open(arquivo).convert('L')\n    img = img.point(lambda x: 0 if x < 160 else 255, '1')\n\n    texto = pytesseract.image_to_string(img, lang='por', config='--oem 3 --psm 4')\n\n    if len(texto.strip()) < 50:\n        img2 = Image.open(arquivo).convert('L')\n        texto = pytesseract.image_to_string(img2, lang='por', config='--oem 3 --psm 6')\n\n    print(json.dumps({'texto': texto}, ensure_ascii=False))\nexcept Exception as e:\n    print(json.dumps({'erro': str(e)}, ensure_ascii=False))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1100, 120],
      "id": "5f21b948-8d2b-4201-98f8-adaa34079aa8",
      "name": "OCR Imagem"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout;\n\nif (!raw) {\n  throw new Error('Nenhum stdout recebido do OCR');\n}\n\nconst data = JSON.parse(raw);\n\nif (data.erro) {\n  throw new Error('Erro no OCR: ' + data.erro);\n}\n\nreturn [{ json: { texto: data.texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0],
      "id": "c2ac0394-a1e0-499f-97ae-db3e72b78b79",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "jsCode": "let texto = $json.texto || '';\n\n// Junta palavras quebradas no fim da linha com hífen\ntexto = texto.replace(/-\\n/g, '');\n\n// Remove quebras de linha duplicadas\ntexto = texto.replace(/\\n{2,}/g, '\\n');\n\n// Remove espaços e tabs duplicados\ntexto = texto.replace(/[ \\t]+/g, ' ');\n\n// Remove linhas com apenas lixo (menos de 3 chars não-alfanuméricos)\ntexto = texto.replace(/\\n[^\\wÀ-ÿ]{1,3}\\n/g, '\\n');\n\n// Trim geral\ntexto = texto.trim();\n\nreturn [{ json: { texto_limpo: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0],
      "id": "ce2cf664-254c-47be-8fdb-688c2c37bddc",
      "name": "Limpar Texto"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especializado em extrair dados estruturados de currículos e gerar comandos SQL.\n\nTexto do currículo:\n{{ $json.texto_limpo }}\n\nGere um comando SQL INSERT para a tabela \"candidatos\" com as seguintes regras:\n\n1. Mapeie os campos encontrados no texto:\n   - Nome completo → nome_completo\n   - Cargo pretendido / área de atuação → cargo_pretendido\n   - Habilidades / tecnologias / ferramentas → habilidades\n   - Resumo de experiências → experiencia_resumida\n   - E-mail → email\n   - Telefone → telefone\n   - Cidade / estado → localizacao\n\n2. Inclua APENAS os campos que estiverem presentes no texto\n3. Escape aspas simples duplicando-as (ex: O'Brien → O''Brien)\n4. Retorne SOMENTE o comando SQL, sem explicações, sem blocos de código markdown\n\nFormato esperado:\nINSERT INTO candidatos (campo1, campo2, campo3)\nVALUES ('valor1', 'valor2', 'valor3');"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1760, 0],
      "id": "75e5876f-72a8-4dc1-9ef3-20d6f1603142",
      "name": "Gerar INSERT SQL",
      "credentials": {
        "openAiApi": {
          "id": "Q22Qx3CiS2eBz1HE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrai o SQL da resposta da IA\n// O nó OpenAI pode retornar o conteúdo em campos diferentes dependendo da versão\nconst content =\n  $json.content ||\n  $json.message?.content ||\n  $json.choices?.[0]?.message?.content ||\n  $json.text ||\n  '';\n\nif (!content) {\n  throw new Error(\n    'Não foi possível extrair o SQL da resposta da IA.\\nJSON recebido: ' +\n    JSON.stringify($json, null, 2)\n  );\n}\n\n// Remove blocos de código markdown caso a IA os inclua (```sql ... ```)\nlet sql = content.trim();\nsql = sql.replace(/```sql\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\n// Validação básica\nif (!sql.toUpperCase().startsWith('INSERT')) {\n  throw new Error('A IA não retornou um INSERT válido.\\nResposta: ' + sql);\n}\n\nreturn [{ json: { sql_insert: sql } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Extrair SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_insert }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2200, 0],
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Salvar no Banco",
      "credentials": {
        "postgres": {
          "id": "SEU_CREDENTIAL_ID",
          "name": "Recrutamento DB"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Limpar Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Temp": {
      "main": [
        [
          {
            "node": "Restaurar Binário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Binário": {
      "main": [
        [
          {
            "node": "Salvar Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Arquivo": {
      "main": [
        [
          {
            "node": "É PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É PDF?": {
      "main": [
        [
          {
            "node": "OCR PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR PDF": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Imagem": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Limpar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Texto": {
      "main": [
        [
          {
            "node": "Gerar INSERT SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar INSERT SQL": {
      "main": [
        [
          {
            "node": "Extrair SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair SQL": {
      "main": [
        [
          {
            "node": "Salvar no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24fb442a-4c0c-45d8-9617-29ef55edaea5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c87b76396f56eba8c5bd2072ddb33a4830148466ed7e057bce91424bc992759"
  },
  "id": "6vDai5WnBYmZ8yMc",
  "tags": []
}
